[2015-02-10 22:01] tekrantz opened #1 "Stacktrace from crash when selecting a recording to play."
[code]

[2015-02-10 22:52] dmfrey commented on #1
Can you also post the hardware and android version of the device you are
using?

Thanks

On Tue, Feb 10, 2015, 5:01 PM tekrantz <notifications@github.com> wrote:

[2015-02-11 03:49] dmfrey commented on #1
@tekrantz From what I can tell from the stacktrack, you are on 4.x, correct?  Looks like i have a bug in the floating action button on that page to initiate playback. I will get it fixed.

[2015-02-11 13:35] tekrantz commented on #1
My device is indeed on 4.x,  4.4.2 to be precise.  It is a galaxy S3 phone.  Alas my Galaxy tab 8.9 is stuck at 4.0.4 which appears to be too old.

[2015-02-11 13:41] dmfrey commented on #1
I will take a look and see there is anything in there that won't let me
support 4.0.4.  Sometimes newer libraries remove some functionality and
force a hack for some of those older version.  But I don't see why 4.0
can't be supported.

On Wed Feb 11 2015 at 8:35:49 AM tekrantz <notifications@github.com> wrote:

[2015-02-12 03:47] #1 closed

[2015-02-12 14:14] tekrantz commented on #1
I know this is closed.  Just wanted to confirm that it works now on both of my 4.x devices.  Thanks!  Love everything about this app!

[2015-02-12 15:09] dmfrey commented on #1
@tekrantz Thanks for your help testing.  Let me know if anything doesn't
work back in the older versions of Android.  I will try to test it out in
an emulator as I go, just to make sure at least ICS+ is covered by this app.

Have you tried any playback?  I would be interested to know your
experiences.

On Thu Feb 12 2015 at 9:14:17 AM tekrantz <notifications@github.com> wrote:

[2015-02-12 15:57] tekrantz commented on #1
@tekrantz Thanks for your help testing. Let me know if anything doesn't
work back in the older versions of Android. I will try to test it out in
an emulator as I go, just to make sure at least ICS+ is covered by this app.

Have you tried any playback? I would be interested to know your
experiences.

I am having some issues with playback that I will be glad to document as additional “issues” if you

[2015-02-12 16:58] dmfrey commented on #1
For playback issues, I would grab any stack traces and post them as new
issues.  I have seen the green bars as well and have not found out what is
causing that at this point either.

Bill has posted a way to turn on logging on the backend for the
mythtranscode process.  Unfortunately, that is out of my area to diagnose
what the problem is.  What you can check on those recordings if it is also
happ

[2015-02-12 19:40] tekrantz commented on #1
Quick note.

The "green bar" display does indeed happen in mythweb:6544 as well, so certainly a transcode issue.

Second, I am trying to capture a stacktrace for the other issue I mentioned but have decided to take it in steps to try to help with as much info as possible.  I am letting the HLS transcode complete (up to 67 percent so far) then if it does not fail, I will play that entire recording.

[2015-02-12 20:40] dmfrey commented on #1
Tim,
Your reports won't be a PITA.  I think anything we come across that we can
fix will help to make it a better product.  Please, keep sending them.

I only have HDHomerun Primes (2), so I will be limited in what types of
recordings I can test on.  I know Bill also has a few different tuners as
well.  The more types we can capture, the more we can account for.

Dan

On Thu Feb 12 2015 at 2:40:35

[2015-02-13 14:28] tekrantz opened #2 "Stacktrace from crash when selecting a video to play(not an mythtv recording)"
On my Galaxy Tab 8.9 running 4.0.4.

Running latest mythtv code as of this morning and latest MythtvPlayer code from this morning.

[code]

[2015-02-13 16:29] tekrantz opened #3 "Problem initiating a transcode on a slave backend."
Apologies in advance.  I do not yet have a stack trace for this.  I will get one.

When I try to queue an HLS transcode of a recording made on a slave backend I get a failure indicating that some java component timed out trying to reach the slave backend after resolving the name of the machine to an IP address.  The IP address that was retrieved was incorrect because it is all internal to my netwo

[2015-02-13 19:40] billmeek opened #4 "Backend recording delete (or auto expire) makes transcoded stream unavailable"
To duplicate:
-Using the app, queue and watch a recording
-Backend Auto Epires the recording (or just delete it)
-The stream is no longer available to the app

I *think* the MythTV developers talked about this on their channel and have been
keeping the streamed files even when the recording is deleted. Should users
expect to still be able to see them. [Not sure if this is a bug or enhancement,
but

[2015-02-13 20:01] billmeek commented on #3
If it helps:

I noted that if the app's setup is changed to the slave BE's IP, transcoding works
and the recording can be watched. If the master's IP is restored, then the following fires:
<pre>
02-13 13:33:37.170  28703-28780/org.mythtv.android D/Retrofit﹕ ---- ERROR http://192.168.1.204:6544/Content/GetLiveStreamList [.204 is my master BE]
02-13 13:33:37.170  28703-28780/org.mythtv.android D/Ret

[2015-02-13 21:46] dmfrey commented on #4
I am not sure there is anything we can do about this in the app.  Once the
recordings refresh, it will not be accessible in the app either.

On Fri Feb 13 2015 at 2:40:16 PM billmeek <notifications@github.com> wrote:

[2015-02-13 21:48] dmfrey commented on #3
I will take a look and see if the recording details provides any insight
into which host it resides on.

I feel this is a fundamental issue with how the master backend and
secondary backends are setup.  IMO, we should only be communicating with
the master backend.  It should be responsible for triggering jobs such as
this on the other backends that are on the network.

On Fri Feb 13 2015 at 3:01:1

[2015-02-13 22:37] billmeek commented on #4
The only thing I can think of would be an addition to Recordings/Videos/Settings
called: Existing Transcoded (or some more elegant name.)

[2015-02-13 22:49] billmeek commented on #3
In http://mc0:6544/Dvr/GetRecordedList, Program->HostName is
the host that did the original recording. Once transcoded, it's in
http://mc0:6544/Content/GetLiveStreamList, LiveStreamInfo->SourceHost

[2015-02-13 23:38] dmfrey commented on #4
My thought on this was that the backend would be the master.  So that it
would be up to the user if they want to create a stream there, they could,
or within the app, they could.  The user could always delete the recording,
then it would be up to them to clean them up as well.

However, there is a process in there already that, when updating the
livestream table, it flags the ones for deletion. I

[2015-02-14 02:27] dmfrey commented on #4
At this time, recording data is not stored in a database.  The screens just refresh from the server.  So if the user deletes the recording on the backend, then the next time the recordings screen is refreshed, that recording will no longer be available to the app, so there would be no way to reference the live stream for that recording.

[2015-02-14 02:49] dmfrey commented on #3
I don't have anyway to map a hostname to connected backend.  For instance, i am not running bind, so I can't just use my master backend hostname as a connection url.

I was looking through the /Myth endpoint to see if there was a way that I could determine it. It looks like it is only dealing in hostnames, from what I can tell.  I am not sure I can assume a user is running bind.

What is the expec

[2015-02-14 03:54] #2 closed

[2015-02-14 04:44] billmeek commented on #4
The 'housekeeping' idea sounds good. If the original recording is gone, then
the LiveStream should be deleted. If users want to preserve their HLS xcodes,
then they'll have to set the Preserve flag and or disable Auto Expire.

Switching from Question to Enhancement.

[2015-02-14 18:36] tekrantz commented on #3
Not sure if this is helpful or not but using firefox on my phone on a free wifi connection I was able to schedule a transcode of a recording that was made on a slave backend over the an ssh port forward connection.  I made no attempt to play it over that connection but I am guessing that if I tried with mythPlayer I could have played it.

Basically I used an SSH connection (with connectBot) from m

[2015-02-14 19:29] dmfrey commented on #3
@tekrantz was this ssh tunnel to your master backend or secondary backend?
I am guessing you port forward 6544 to your master backend and 1234 to your
secondary backend.

I think its a broader question...how best to handle multiple backends.
Does the services api give us a "map" of the myth environment?  Right now,
I don't think so.  Also, accessing multiple backends, remotely would
require a user

[2015-02-14 19:34] tekrantz commented on #3
@tekrantz was this ssh tunnel to your master backend or secondary backend?
I am guessing you port forward 6544 to your master backend and 1234 to your
secondary backend.

The tunnel was to my master backend.  I had NO tunnel to my slave backend. Port 1234 on my phone was forwarded to 6544 on my master backend.  That was the only tunnel I had going.  But somehow mythweb was still able to begin the

[2015-02-14 20:12] billmeek commented on #3
@dmfrey, the MAF Bonjour method worked for getting the IP and hostname.
Although there were some (at least 1) user that didn't want to run avahi on
their hosts.

Adding to the complexity of settings, the hostname and IP address could
be stored and then MPFA would do the lookup (conversion from host to
IP) internally. There will no doubt be those that have old recordings that
have a previous hostna

[2015-02-14 21:12] dmfrey commented on #3
@tekrants can you verify that when performing a HLS transcode through
mythweb, it took place on the secondary backend, not the master backend? I
am wondering if there is a discrepancy between how the services request a
live stream transcode from the backend and how the mythweb is doing it.

- Please understand that I am not pressing this issue just trying to give
information.
I understand.  Please

[2015-02-15 00:07] billmeek commented on #3
It looks like the host issue is in the HTTP header returned by MythTV, not in the
MythTV Services API (at this point.) We're talking to the master BE and it's
redirecting to the slave. That seem to be a good thing.
<pre>
 curl --include mc0:6544/Content/AddRecordingLiveStream?RecordedId=2352&ChanId=1261&StartTime=2015-02-14T20%3A00%3A00.000Z&MaxSegments=0&Width=1280&Height=720
 HTTP/1.1 301 Unknow

[2015-02-15 15:22] dmfrey commented on #3
It looks like the OkHttp client used to back Retrofit calls to the backend
needs to be configured to follow redirects.  I think this should solve the
issue.  I am going to make a change to the services api and push it.  Then
we can check this once its propagated to the maven repositories.

On Sat Feb 14 2015 at 7:07:16 PM billmeek <notifications@github.com> wrote:

[2015-02-15 19:10] dmfrey commented on #3
I have this implemented locally.  I will push it shortly. Still waiting on maven central to synchronize.  However, one thought comes to mind.  If I am on an ssh tunnel to the master backend,  I am uncertain how the app is going to be able to follow a 301 permanent redirect over that tunnel.  So I do not feel this will ultimately solve the issue.  But I do feel enabling follow redirects in the api

[2015-02-15 20:00] #4 closed

[2015-02-15 21:34] billmeek commented on #3
Short answer, still fails.  Better info: my *curl* above was for the wrong endpoint.
But the result is the same. The 1st issue (and stacktrace) is from this:
<pre>
curl --include 'mc0:6544/Content/GetPreviewImage?ChanId=1091&StartTime=2015-02-13T18:03:00'
HTTP/1.1 301 Unknown
...
Location: http://slave-mc1:6544/Content/GetPreviewImage?ChanId=1091&StartTime=2015-02-13T18:03:00
</pre>

The above com

[2015-02-16 23:55] tekrantz opened #5 "Transcoding deleting original recording."
I just noticed that using the latest mythtv code it seems as if queuing and complete an HLS transcode with mythtvPlayer is deleting the original recording on my system.

Has this always been the case?  Is there an option somewhere that I can set to change this behaviour?
Is there an option that could be added to mythtvPlayer that can tell the backend NOT to delete the original?

[2015-02-17 00:31] billmeek commented on #5
Hi, check MythTV Trac https://code.mythtv.org/trac/ticket/12366
and the link to the commit there. There's no Services API control
of the issue.

[2015-02-17 02:14] billmeek commented on #5
@tekrantz, from Android Studio, what does VCS->Git->Show Current Revision
show? Something like:
    Current version is a41abced2fd3648da642b8fa1b0ea4276651b641.

I think my previous (and deleted) answer was wrong.

[2015-02-17 03:24] dmfrey commented on #5
I don't understand what is going on here.  The app does not issue any
delete commands on recordings. It will only send a delete request for a
live stream, and nothing is using that yet.

On Mon Feb 16 2015 at 9:14:23 PM billmeek <notifications@github.com> wrote:

[2015-02-17 04:08] billmeek commented on #5
@dmfrey, thanks, that helps. The only things in LogCat are GetLiveStreamInfo
following the end of the transcode. But the .mpg file is in fact gone. The only
files left are:
<pre>
-rw-rw-rw- 1 mythtv mythtv    2741 Jan 26 11:27 /var/lib/mythtv/storage/recordings/1021_20141201023000.mpg.-1.-1x67.jpg
-rw-rw-rw- 1 mythtv mythtv 1599225 Dec 18 10:56 /var/lib/mythtv/storage/recordings/1021_2014120102300

[2015-02-17 15:25] tekrantz commented on #5
On mythweb:6544 I navigated the menu to setup/advanced setup/job queue then selected the global settings tab.  There is a checkbox that says "Save original files after transcoding (globally) " which is unchecked.  Checking it and pressing save changes unfortunately does not save the changes.  I am in the process or looking at the database for something there that I can set.

[2015-02-17 15:31] tekrantz commented on #5
UPDATE `settings` SET `data`=1 WHERE value='SaveTranscoding' seems to have changed the value of that attribute to true.  I will run a transcode now and see if the original recording stays around after....

[2015-02-17 15:35] billmeek commented on #5
@dmfrey, thanks, that helps. The only things in LogCat are GetLiveStreamInfo
following the end of the transcode. But the .mpg (or .ts) file is in fact gone. The only
files left are:
<pre>
-rw-rw-rw- 1 mythtv mythtv    2741 Jan 26 11:27 /var/lib/mythtv/storage/recordings/1021_20141201023000.mpg.-1.-1x67.jpg
-rw-rw-rw- 1 mythtv mythtv 1599225 Dec 18 10:56 /var/lib/mythtv/storage/recordings/1021_2014

[2015-02-17 17:02] tekrantz commented on #5
Well it did not delete this one but did append .old to the end of the file name.

Clearly this is not a mythplayer issue.

[2015-02-17 17:02] #5 closed

[2015-02-17 21:56] billmeek commented on #5
I did a git bisect and the MythTV commit causing the failure is
3d64f8a. Trac ticket/patch:
    https://code.mythtv.org/trac/ticket/12385
@tekrantz, thanks for spotting this.

[2015-02-19 00:22] billmeek commented on #3
Turns out the the app uses: Content/AddRecordingLiveStream and that uses
the same hostname check as GetPreviewImage. And it too redirects to the
proper (slave in this case) host. Still stuck  at the lack of name resolution.
Now, if the backend only redirected to an IP address...

[2015-02-19 01:05] dmfrey commented on #3
@billmeek there are a few add live stream commands. One for adding
recordings, one for adding videos, and a general one.  Maybe the last one
is the one we should be using.  I don't recall what we were using in the
old app, but I don't think it is very different.

On Wed Feb 18 2015 at 7:22:50 PM billmeek <notifications@github.com> wrote:

[2015-02-19 01:16] billmeek commented on #3
Both AddVideoLiveStream and AddRecordingLiveStream do the
host check and redirect if required. Then they both call
AddLiveStream. I'd say you're using the proper calls. I didn't
look at the MAF code, but that's a good idea. I'm trying to write
a standalone Qt program to test the QHostInfo::lookupHost()
because it can return the IP address. If it works, it would be up
to the MythTV developers to ag

[2015-02-19 04:28] billmeek commented on #5
Fixed in MythTV yesterday commit 0f52e5c.

[2015-02-19 04:58] billmeek commented on #3
@tekrantz, if you're building MythTV from source, consider trying
this patch (cd yourSource/mythtv/mythtv;git apply theFollowingInSomeFile):
<pre>
diff --git a/mythtv/programs/mythbackend/services/content.cpp b/mythtv/programs/mythbackend/services/content.cpp
index e25affc..2e1fe81 100644
--- a/mythtv/programs/mythbackend/services/content.cpp
+++ b/mythtv/programs/mythbackend/services/content.cpp

[2015-02-19 23:59] billmeek opened #6 "FATAL EXCEPTION: When removing non-existant Live Streams"
It appears that removing streams that no longer exist is the cause.

To duplicate:
- Queue HLS and let transcoding complete
- Remove the stream from any other device or use curl
- Start the app and note the following.
- Both streamid 14 and 28 were removed in this test

Workaround:
- Force stop, Clear cache and Clear data

<pre>
02-19 17:43:15.563  31989-32120/org.mythtv.android V/ContentPersisten

[2015-02-20 01:29] #6 closed

[2015-02-20 03:00] billmeek commented on #3
@dmfrey, the patch for MythTV (above) has been rewritten and works,
*if* I hardcode my slave backend IP:6544 here:

https://github.com/MythTV-Clients/MythtvPlayerForAndroid/blob/master/mobile/src/main/java/org/mythtv/android/player/PlayerActivity.java#L184/blob/master/mobile/src/main/java/org/mythtv/android/player/PlayerActivity.java#L184

rather that use the master:6544 plus the relative URL. The

[2015-02-21 02:41] billmeek commented on #3
Grrr, just deleted all the experiments and started a fresh xcode from the
app with the above patch. It's xcoding correctly on the slave, however, the IP
address returned in FullURL from Content/GetLiveStreamList is that
of my master BE!

[2015-02-22 14:47] dmfrey commented on #3
@billmeek I think what would be nice here is if the backend would reverse proxy the call.  This way, we would only be communicating with the master backend.  The master backend would proxy all the calls to the respective frontends.

Maybe we should write up what the current behavior is and the desired behavior should be.  Maybe then we could come up with a solution.  Can you add what you have foun

[2015-02-23 02:26] billmeek commented on #3
@dmfrey, OK, now that I've read about 'reverse proxy', that sounds like
a perfect solution. I don't see anything else using it in MythTV or in the
Qt website, so I don't think I can write a patch to do it. That leaves the
new MythTV Forum's feature request section (Trac tickets without a
patch are closed immediately.) I'm able to do a write-up there.

But 1st:

The actual player sends an IP addres

[2015-03-13 14:08] tekrantz opened #7 "Fatal Exception (invalid cast)"
03-13 10:06:17.440  31507-31701/org.mythtv.android I/dalvikvm-heap﹕ Grow heap (frag case) to 22.156MB for 8294416-byte allocation
03-13 10:06:17.530  31507-31510/org.mythtv.android D/dalvikvm﹕ GC_CONCURRENT freed 921K, 35% free 17923K/27335K, paused 3ms+4ms
03-13 10:06:18.650  31507-31507/org.mythtv.android D/AndroidRuntime﹕ Shutting down VM
03-13 10:06:18.650  31507-31507/org.mythtv.android W/dal

[2015-03-14 15:19] #7 closed

[2015-03-20 16:36] billmeek opened #8 "Fatal RuntimeException when trying to connect to a backend that isn't running."
To Duplicate:
- Shutdown mythbackend
- Start MPFA
- The 1st exception (fragment) below will fire (and appears to be caught OK)
- Swipe right
- The fatal exception below fires.

<pre>
03-20 11:25:32.734    9484-9506/org.mythtv.android E/ServerVersionAsyncTask﹕ error creating MythTvApiContext, could not reach 'http://192.168.1.223:6544/'
    java.net.ConnectException: failed to connect to /192.168.1

[2015-03-20 19:49] #8 closed

[2015-03-22 13:29] billmeek opened #9 "Black Screen at Start of Playback"
To Duplicate:

    Select a previously transcoded live stream recording
    Just press Play
    Used the internal player
    Note the screen goes black

I've seen this exactly 2 times. Can't duplicate at will. Exiting the
player and pressing Play again has worked (both times.)
[code]

[2015-03-22 13:33] billmeek opened #10 "Exception After Playback Ends and Isn't Manually Exited"
To Duplicate:

    Watch an entire episode
    Don't press the Back icon
    The Unfortunately... message will appear, eventually

4/1/2015 (and not an April Fools joke):

Finished watching Video, got Unfortunately... popup. In this case, I DID press
the Back icon, so this may not be a match.
[code]

[2015-03-22 13:49] billmeek opened #11 "No Fast Forward"
Pause, Fast Forward and Rewind are desirable enhancements.
VLC will do Pause.

[2015-03-22 17:08] billmeek opened #12 "Internal Player: Pressing Volume Up/Down During Playback Displays Progress Bar"
The progress bar doesn't time out. Doesn't happen with VLC

[2015-03-22 17:16] billmeek opened #13 "10"/7" Tablet Preview Images Are Cropped"
![screenshot_2015-03-22-12-10-47](https://cloud.githubusercontent.com/assets/1831699/6770409/0ae83c5a-d08d-11e4-9a03-b9d8f75e3b66.jpg)

[2015-03-22 21:01] dmfrey commented on #13
This gets generated from the backend. Maybe on a tablet I can make that
view larger, so it can  show more of the image.

On Sun, Mar 22, 2015, 1:16 PM billmeek <notifications@github.com> wrote:

[2015-03-22 21:02] dmfrey commented on #12
Odd. I was not expecting this. I will look into this.

On Sun, Mar 22, 2015, 1:08 PM billmeek <notifications@github.com> wrote:

[2015-03-22 21:26] billmeek commented on #13
FYI, here's the image from the backend.
![2632_20140808033100 mpg -1 313x-1](https://cloud.githubusercontent.com/assets/1831699/6771582/02d55b1a-d0b0-11e4-981c-9b9948f9f685.png)

[2015-03-22 21:29] billmeek commented on #12
I meant to add that the  progress bar never goes away
once it shows up ('til the recording ends of course.)

[2015-03-24 00:22] #13 closed

[2015-03-24 01:41] billmeek opened #14 "Fatal Exception: NullPointerException: Attempt to invoke virtual method..."
I was testing today's 'wide tablet' fix and was on the All Recordings
screen looking at each episode starting from the 1st in the list. I
hadn't reached the bottom, however the LogCat below starts with
an episode that IS the last one displayed in All Recordings.

When I did select the last episode, the preview and coverart
displayed OK.

Seen exactly one time and can duplicate it. @ commit: aadc65

[2015-03-24 01:55] #14 closed

[2015-03-24 03:52] billmeek opened #15 "Titles With Multiple inetrefs Display Once Per inetref, But Show All Episodes When Selected"
I didn't understand why initially, but if a title has multiple
inetrefs, it appears once for each inetref.

This is a very desirable feature.

It's good for me because I have things like Masterpiece Classic
(the title) and I manually enter different inetrefs for Downton
Abbey, The Paradise and Mr. Selfridge. [They're for my neighbor;
honest.]

Ideally, the entry would say: Masterpiece Classic - Do

[2015-03-24 04:01] billmeek opened #16 "PLAY Becomes QUEUE HLS On Episode Screen When the Screen Is Rotated"
To Duplicate:

    Transcode an episode
    Note that when horizontal, the icon at the bottom center says PLAY
    Turn the tablet 90 degrees
    Note that PLAY becomes QUEUE HLS

[2015-03-24 18:10] #16 closed

[2015-03-27 17:25] #15 closed

[2015-03-27 18:12] billmeek opened #17 "Fatal Exception: NullPointerException; In Watch Videos Screen"
Not duplicatable at will. Seen once. On commit 1fb137cf
- Was on Watch Recordings
- Switched to Watch Videos
- Swiped to scroll to end fo videos
- Exception fired

A 2nd exception fired after I responded to the Unfortunately... pop up.
It's included in the LogCat below. The entire app closed at this point.

Note that I have: setLogLevel(RestAdapter.LogLevel.NONE) to reduce the
LogCat output.
[code

[2015-03-28 13:59] #17 closed

[2015-03-28 20:31] dmfrey opened #18 "Do not allow episodes currently recording to show up in the all recordings list"

[2015-03-29 15:23] billmeek opened #19 "Implement Digest Authentication"
In 0.28-pre, users can add digest authentication with:

    INSERT INTO settings VALUES ('HTTP/Protected/Urls', '/', NULL);

Where the '/' protects everything, including all Services API
endpoints. '/Myth;/Content' would only protect those 2 groups
of endpoints.

Probably needs an upstream GUI to change the setting before
implementing the feature in the app.

[2015-03-30 02:57] billmeek opened #20 "Fatal Exception: Null Pointer When Returning To a Queued Episode"
To Duplicate:

    Begin queuing
    Exit the episode back to Watch Recordings
    Press title of queued episode
    Press episode, exception fires
    Unfortunately... message pops up

Running on 4.0.4 and commit 0f46908
[code]

[2015-03-30 12:57] #20 closed

[2015-03-30 13:18] dmfrey opened #21 "Merge mobile and tv source trees"
Google Play Console will not allow us to deploy 2 versions of the app to target different platforms with the same package names, etc.

Android Manifest should be able to handle installing on all platforms.

[2015-03-31 01:18] #21 closed

[2015-03-31 14:34] dmfrey opened #23 "RetrofitError Http Status can be null"
[code]
From google play console

[2015-03-31 14:35] #23 closed

[2015-04-01 13:55] dmfrey opened #24 "Skip programs with no starttime"
[code]

Google Play Console error

[2015-04-01 14:34] tekrantz opened #25 "Compilation failure."
I have installed the latest build tools 22.0.1 and I am getting the following compilation error:

:app:compileDebugJava
C:\Users\SBG\Android studioProjects\MythtvPlayerForAndroid\app\src\main\java\org\mythtv\android\player\app\recordings\TitleInfosFragment.java:141: warning: non-varargs call of varargs method with inexact argument type for last parameter;
            ActivityOptionsCompat options

[2015-04-01 14:36] billmeek commented on #25
Try removing: "org.mythtv.android.library.".

[2015-04-01 15:15] tekrantz commented on #25
Ok, not sure I completely understand, but in Android Studio under the core project I deleted org.mythtv.android.library then did a git reset head (hard).  Then I built again and I get the same compilation error.

[2015-04-01 15:26] billmeek commented on #25
@tafypz, I updated my original workaround above.

[2015-04-01 20:28] billmeek commented on #10
Updated initial report with a trace.

[2015-04-01 23:38] dmfrey commented on #25
This was my fault. Something I was working on.  I will fix it immediately.

[2015-04-01 23:44] #25 closed

[2015-04-02 00:34] billmeek opened #26 "Titles Without inetrefs Display In All Recordings, But Not Individually"
In this test case, the title 'Noticiero Univisión' should show up
between 'NCIS: New Orleans' and 'PBS NewsHour Weekend'.

[This was actually a test of special characters displaying
 correctly (and they do if the backend has $LANG set
 properly.)]

[code]

[2015-04-02 02:17] dmfrey commented on #26
did it not show up at all? or just out of order?

Inetref is the linkage between the title list and recordings.  How would the title list endpoint not return an inetref?  They only return those 2 fields.

[2015-04-02 02:45] billmeek commented on #26
They don't show up at, except in the All Recordings list.

Some titles have no inetref, e.g. news programs. Shows currently recording
won't have one 'til mythmetadata runs. Specials frequently don't have them.

There's a group of users on the -mythtv mailing list that turn off mythmetadatalookup.

Examples:
[code]

[2015-04-02 03:33] dmfrey commented on #26
Ok, this breaks what I sis to show the same shows with different inetref's
I did a few weeks ago. Gonna have to rethink this.

On Wed, Apr 1, 2015, 10:45 PM billmeek <notifications@github.com> wrote:

[2015-04-02 04:15] billmeek commented on #26
When I refresh the Watch Recordings screen, this is used:
http://BE:6544/Dvr/GetTitleInfoList and looking at the
results on my browser, only titles with inetrefs are returned.
So this is working as written in MythTV. And it sounds like
a bug in their query.

What I don't understand is why the episodes appear in
All Recordings.

Looking at the MythTV source GetTitleInfoList excludes
empty inetrefs:

[2015-04-02 11:14] dmfrey commented on #26
Can you post the json returned from the web service?

On Thu, Apr 2, 2015, 12:15 AM billmeek <notifications@github.com> wrote:

[2015-04-02 13:29] billmeek commented on #26
[code]

[2015-04-02 13:38] dmfrey commented on #26
I don't see the program in the original question in the TitleInfoList at all in the json. So it shouldn't even be displaying on the Shows screen.  However, if the /Dvr/GetRecordedList returns it with the rest of the programs, it will get entered in the db and be available for view in all recordings.

The Shows screen links either all recordings or an individual recording via the inetref.  The inet

[2015-04-02 15:42] billmeek commented on #26
Yes, GetTitleInfoList is developed by the BE with "WHERE inetref <> '' ",
which explains why the shows aren't there. That's the upstream issue.

I didn't spot the GetRecordedList used for All Recordings, which
explains why the shows are there.

The question becomes what should the app do. Wait for a fix from
MythTV, or use the 'much less efficient' GetRecordedList endpoint
for the Watch Recordings

[2015-04-02 16:56] dmfrey commented on #26
GetRecordedList and GetTitleInfoList should run, roughly, every 5 minutes
when connected

On Thu, Apr 2, 2015 at 11:42 AM billmeek <notifications@github.com> wrote:

[2015-04-02 17:18] billmeek commented on #26
The original intent (I think I'm guilty of suggesting the use of
GetTitleInfoList) was to reduce the data passed between the
BE and the app. The idea was to use GetRecordedList with
the TitleRegEx parameter ONLY when displaying the episode
list. TitleRegEx is available in 0.27 and 0.28-pre.

It sounds like GetTitleInfoList isn't required because all of the
data is now in the app's DB because GetRe

[2015-04-02 18:22] dmfrey commented on #26
I think for the app, the less data we need to main, the better, so maybe we
need to just user the product table to populate that list.  Maybe mark this
as an enhancement.  Then I can move to the local rowid, instead of
requiring a piece of data from the backend.  It is a bit of a change (like
when i switched from doing it by name), but it is doable.

On Thu, Apr 2, 2015 at 1:18 PM billmeek <notifi

[2015-04-04 01:43] dmfrey commented on #18
@billmeek on v0.28 the <Recording> status is 'Recording', but on v0.27 i believe it was a number.  Can you verify that for me on your v0.27 backend?

v0.28 Recording XML
[code]

[2015-04-04 01:46] billmeek opened #27 "Fatal Exception: RuntimeException; On Watch Recordings Using Text or Voice Search"
On branch issue_26.

[code]

[2015-04-04 02:25] billmeek commented on #18
Correct 0.28-pre is where the text enumerations begin.
I haven't seen any commits by the translators yet, but I think the
recstatus will be English, but the recdescription will be translated
to the $LANG the BE is running on.

For your specific example, the result in 0.27 is:
[code]

Note that in 0.28-pre there are conversion endpoints
[code]

I believe this is the 0.27 enum
[code]

[2015-04-04 03:08] dmfrey commented on #18
it turns out the json response is always -2 for recording and -3 for recorded. It never shows the status text

[2015-04-04 20:28] billmeek opened #28 "Black Preview Causes Near White On White Text"
Running on issue_26.

![blackimageunreadabletext_2015-04-03-18-16-05](https://cloud.githubusercontent.com/assets/1831699/6994431/25caf79a-dadf-11e4-87d5-40d7c5b62777.jpg)

[2015-04-04 20:40] billmeek opened #29 "Consistency: Display Title Over Episode In All Recordings"
@dmfrey, I remember you reversed this in the Search Results
screen. Suggest that it would make sense to make it the same
in the All Recordings screen.

[2015-04-04 23:35] #18 closed

[2015-04-04 23:35] #26 closed

[2015-04-04 23:35] #27 closed

[2015-04-04 23:48] #10 closed

[2015-04-04 23:48] #11 closed

[2015-04-04 23:48] #12 closed

[2015-04-04 23:52] dmfrey commented on #9
@billmeek this issue is possibly fixed with commit 066fe287739f7d008428b4771c9549d107346cf1

[2015-04-04 23:55] dmfrey commented on #29
@billmeek are you noticing this on episodes that do not contain a sub title?  Would just showing the title in place of an empty sub title in these cases suffice?  Or should it be something else?

[2015-04-05 00:11] billmeek commented on #9
@dmfrey, I don't know if 066fe28 fixes it. I haven't seen this
since the original 2x, so I'm closing it. Can always reopen if
it comes back.

[2015-04-05 00:23] billmeek commented on #29
@dmfrey episodes, without a subtitle, display the title and date.
Perfect.

Episodes with a subtitle display subtitle, title, date.

Displaying title, subtitle, date would match the Search Results format
and be easier to read (in my  opinion.) Maybe this should be left open
 until 'real' users comment on it.

[2015-04-05 01:00] dmfrey commented on #28
@billmeek I don't have any recordings that show like this.  It should be pulling text color as well from the palette derived from the image as well.  Try this out on my next commit.

[2015-04-05 02:16] billmeek commented on #28
Running on mythtvplayer-1.1-beta-2-23-g886e40e. Now getting
Unfortunately, Mythtv Player has stopped.

[code]

[2015-04-05 03:56] #28 closed

[2015-04-05 03:57] dmfrey commented on #28
@billmeek I am capturing that process for an exception. if one is thrown it will default back to colors in the colors.xml

[2015-04-05 13:24] #29 closed

[2015-04-05 20:29] billmeek opened #31 "Titles With Special Characters Display In All Recordings, But Not In Watch Recordings Episode Lists"
The following 2 display in All Recordings, but not under Watch
Recordings. I removed the ó in the BE on the 1st line below
and refreshed the app and the recording appeared.

[code]
The query without the wild card works too:
[code]

[2015-04-05 20:49] billmeek commented on #31
Cleared the app DB and they're displaying now.

[2015-04-06 00:37] billmeek commented on #31
Let's see if I can get this right. To Duplicate:
    Force Stop, Clear Cache, Clear Data on the app
    mythbackend --setverbose http,upnp
    Restart and configure the app
    Go to a Watch Recordings line with a special character
    Select that entry [this is the step I left out when I closed it in error]
    Note that an all white page is displayed (except for the title in the top bar)
    Not

[2015-04-07 17:27] dmfrey opened #32 "Handle MythTV Backend Not Support more cleanly"
Reported when user running the app and connecting to a master backend prior to version v0.27

[code]
Reported in Google Play Console

[2015-04-07 17:30] #32 closed

[2015-04-07 20:25] dmfrey commented on #31
@billmeek which charset are these characters in? We are probably making requests in UTF-8. If they are in that same charset, i don't see why these wouldn't show.  I will have to try to find this particular show so I can record it and play with the data

[2015-04-07 21:25] billmeek commented on #31
They are in UTF-8.  The ó in Univisión is 0xC3B3. I added 2
Spanish language stations to my lineup in Schedules Direct
to test it.

But, right now, the episodes ARE displayed in Watch Recordings.

@dmfrey, based on the BE log, when I refresh the WR screen,
the app sends a GET /Dvr/GetTitleInfoList. Could it be that I'm
not getting the new recordings until some else runs?

I'm thinking of closing t

[2015-04-07 21:37] dmfrey commented on #31
That scheduled job for titleinfos should have been disabled. I will clean
that up. Since we are deriving this from the programs now, it is no longer
needed.

I scheduled that recording too to try it out as well.

On Tue, Apr 7, 2015, 5:25 PM billmeek <notifications@github.com> wrote:

[2015-04-07 21:50] billmeek commented on #31
This whole issue has nothing to with special characters, rather my
assumption that when refreshing Watch Recordings, new data
would appear immediately.

I doesn't. I just re-added the ó to the title I had changed, refreshed
WR and the change wasn't there. Probably the 5 minute timer caused
a reload of all recordings and the change is there.

[2015-04-07 23:45] dmfrey commented on #31
this might throw a wrench in here...on my nexus 6, this program loads fine in all calls.  On shows screen, on all recordings and clicking on this particular show to show just the episodes for that show.

When I do the same thing on my daughter's asus memo pad, i get no recordings when clicking on the show, but it does show on all recordings.

[2015-04-07 23:49] billmeek commented on #9
Reopening. Confirmed failures on 4.4.2 and 4.1.1.

[2015-04-08 02:44] billmeek opened #33 "Consistency: Horizontal All Recordings Tile Is Larger Than Vertical Tile"
On a 7" horizontal screen, only 2 titles are displayed. Makes it
harder to grab one and scroll down.

![screenshot_2015-03-29-22-42-49](https://cloud.githubusercontent.com/assets/1831699/7037845/caa1a8e0-dd6e-11e4-966c-a2f14cdd57ac.png)

[2015-04-08 13:02] #33 closed

[2015-04-09 00:57] dmfrey opened #34 "AndroidTV Launcher needs highlights for active selection"

[2015-04-09 00:59] dmfrey opened #35 "AndroidTV Toast message always displays failed to download recordings"

[2015-04-09 00:59] dmfrey opened #36 "Consistency: AndroidTV Videos Look and Feel incorrect"

[2015-04-09 02:28] billmeek opened #37 "AddRecordingLiveStream Fails With 0.27 Backend. UTC Issue"
The app's requested Start Time (without URL encoding is):

    StartTime=2015-04-08T20:33:00.000-05:00

The failure in mythbackend.log is:

    AddRecordingLiveStream - for 1091_2015-04-08T20:33:00Z  failed

The file in the BE is named:

   1091_20150409013300.mpg

It appears that  0.28-pre gets the same information, however, the
recordedid is used and the chanid/starttime are ignored.

[code]

[2015-04-09 02:31] #34 closed

[2015-04-09 02:39] #36 closed

[2015-04-09 02:57] dmfrey commented on #37
This is a problem in the mythtv-services-api.  It is not serializing the data correctly before sending it.

@tafypz where in the api can we override setting the date format for outbound calls.  I see there is already a DateTimeSerializer in the code and it annotates the DateTime fields when when the json is read into the objects. That, unfortunately, has the wrong format. Any ideas? Does your gene

[2015-04-09 13:35] dmfrey commented on #37
@billmeek I think i can relieve this by changing the the calls on v027 to AddLiveStream from AddRecordingLiveStream.  I am going to commit this.  Can you test it out? I also wonder if this won't resolve Issue #3 since i am passing in a storage group and hostname.  If you can test that out on v27 as well and it works, I could make this a permanent change for all backends.

[2015-04-09 13:53] billmeek commented on #37
Yes, I'll test the 0.27 StartTime AddLiveStream workaround.

I can't test for #3 in the 0.27 version (I've only got it running on 1 host.)
But I can test it on 0.28-pre. Maybe just using curl as a proof of concept
would be a good idea. It should fail because the MBE won't find the file
(even though it's in the Storage Group, the Storage Directory doesn't
 exist on the MBE, e.g. it's not cross moun

[2015-04-09 13:55] dmfrey commented on #37
@billmeek I can leave this change in for all backends.  I am testing it now on v28 and it works.  Maybe I will leave that in like this for now.  See how it works.

[2015-04-09 13:58] #37 closed

[2015-04-09 14:00] dmfrey commented on #3
@tekrantz Can you test this again.  I just pushed a change for Issue #37. I think it might fix this as well.

[2015-04-09 14:22] tekrantz commented on #3
This can be closed.  I just grabbed the latest compiled it.  I selected a recording that was recorded on a slave backend and it began transcoding on the master backend and began to play perfectly.

@tekrantz <https://github.com/tekrantz>  Can you test this again. I just pushed a change for Issue #37 <https://github.com/MythTV-Clients/MythtvPlayerForAndroid/issues/37> . I think it might fix this as

[2015-04-09 14:52] dmfrey commented on #3
@tekrants thank you

@billmeek I will make my change the permanent solution for this and Issue
#37

On Thu, Apr 9, 2015 at 10:22 AM tekrantz <notifications@github.com> wrote:

[2015-04-09 14:55] #3 closed

[2015-04-09 15:47] billmeek commented on #3
Just finished testing on my 0.28-pre slave and got the same results as
@tekrantz. Note that there is at least one MythTV user that prefers
to transcode on a more powerful slave. I believe he was a MAF beta
user, but I'm not going to look it up (nor reopen this issue.) If it comes
up, then it can be a new issue and will require an upstream fix too.
AddLiveStream uses myth:// protocol, while AddReco

[2015-04-09 16:13] dmfrey commented on #24
Seems to be an issue with null end times as well

[2015-04-09 17:40] dmfrey opened #38 "User Request: Allow port numbers 5 digits long"

[2015-04-09 17:42] #38 closed

[2015-04-10 03:01] #35 closed

[2015-04-10 13:30] dmfrey opened #39 "Provide consistent look and feel for Watch Videos"

[2015-04-10 13:31] dmfrey opened #40 "Add Videos to Content Provider to provide metadata searching and data lookup"

[2015-04-10 18:06] dmfrey commented on #24
Affecting Recording Start and Ends

Reported on Google Play Console

[2015-04-10 18:15] #24 closed

[2015-04-10 19:21] fphillips commented on #24
I share my recorded json dump with your gmail addy, Daniel. Look for an email for google drive.

[2015-04-10 19:30] dmfrey commented on #24
Thank you @fpillips

[2015-04-10 19:43] dmfrey commented on #24
@fpillips In firefox, install the JSONView extension and then open the file you sent me.  It should be formatted for clearer reading.  The very first Program entry has a lot of fields that are all empty. I have been going through the list, but that seems to be the only one i have found so far.

[2015-04-10 19:50] fphillips commented on #24
Yeah, I had seen the one for 0_00000000000000_00000000000000.nuv. It has an empty title/subtitle, notably. I was thinking from discussions way back this was some sort of default and expected or innocuous, but maybe not. I'll see if I can find any reference to where it came from.

[2015-04-10 19:59] dmfrey commented on #24
Are you in the beta on the Google+ community? If so, I can do a quick build
of 1.1.6, which has the fix for this (missing recording start and end ts,
as well as already doing program start and end ts, etc.) and push it to the
beta channel.  Then, it should come down to your phone.  You can try it out
and it should just dump this one entry.  Then you won't have to do anything
on your end.

Does thi

[2015-04-10 20:06] fphillips commented on #24
Not in the beta, but I can be. I haven't seen any problems on linux frontends that would make me think is related. The old android mythtv frontend stopped working a year or two ago, but I remember seeing this nuv entry much longer before that. I'm pretty sure it was inserted when I recreated my database in 2009, circa 0.21.

[2015-04-10 20:17] dmfrey commented on #24
version 1.1.6 has been published to the beta channel.  It will be available in an hour or so.  Go to the G+ Community and accept the beta link.  When it is available, it should just come down like any other public version.

[2015-04-10 20:39] billmeek opened #41 "Honor Android Add Date/Time Settings"
If the date format is changed to MDY, the app still displays it as YMD.
If the time format is changed to 24H, the app still displays 12H+[AP]M

[2015-04-10 22:51] fphillips commented on #24
I had been trying the beta program link and getting an error page, waiting and thinking that the build wasn't available yet. Finally saw the 'join community' button at the top - that's what I was missing. Didn't want to wait for it to auto-update, so I force-stopped the play store app and it saw the update and soon as I went back into the play store. It works now.

[2015-04-10 23:03] dmfrey commented on #24
That's great. Let me know if you are missing any recorded programs. I will
try to diagnose the json further to try to find whatever is missing.

On Fri, Apr 10, 2015, 6:52 PM Frank Phillips <notifications@github.com>
wrote:

[2015-04-10 23:30] fphillips commented on #24
I have four recgroups: Default, Live TV, Movie, and Sitcom. When I exclude Live TV, there are 855 entries. The app shows 854, so it is only excluding the nuv, as expected.

[2015-04-11 01:34] #41 closed

[2015-04-11 18:50] dmfrey opened #42 "Add Settings to set HLS Transcode Options"
requested by @fphillips

At this point going to make the settings with mythweb, unless otherwise requested

width: auto*, 288, 400, 480, 640, 800, 960, 1024, 1280*
height: auto*, 320, 480, 540, 600, 768, 720*
bitrate: 500k, 600k, 700k, 800k*, 900k, 1000k, 1500k, 2000k, 2500k, 3000k, 3500k
audio bitrate: 32k, 64k*, 96k, 128k, 192k

asterisk denotes defaults (auto is 0 and will let the backend decid

[2015-04-11 19:44] fphillips commented on #42
Hold up, it may not be necessary for me.
Do you remember this discussion: http://lists.mythtv.org/pipermail/mythtv-users/2015-January/375332.html
Did you get anywhere with that? I haven't tested much yet, but I noticed 0-byte files, except for the last file, which was hundreds of MB, as if all were being concatenated into it.

This may be why mine wouldn't play and the external player was getting

[2015-04-11 21:30] dmfrey commented on #42
I was never able to resolve that. I ended up reinstalling mythbuntu. Needed
a new drive anyway. The external will always get the raw file. I am
handling the hls in the app.

However, it was a good suggestion and now people will have choice.

Actually, I could make it so that in the settings you could select either
external or hls. If you select hls, then you can set the hls settings. If
they are s

[2015-04-11 21:53] dmfrey commented on #42
Also, what I found was that that issue did not exist on  v0.28. However, I
can't seem to get a successful hls transcode of most my movies, which is
partially why I haven't spent as much time on that section.

On Sat, Apr 11, 2015, 5:30 PM Daniel Frey <dmfrey@gmail.com> wrote:

[2015-04-13 01:09] gustden opened #43 "Cannot play recordings or movies with 0.27.4 backend"
It shows the list of recordings and has a button to queue hls.   A while later,  the play button shows up.  When I press play,  it says 'Can't play this video' .

File name on the backend attempting to be played: The_Good_Wife_S6E15_Open_Source.mp4

I do see the mythtranscode run on the  backend.
mythtv 24341 19901 0 19:32 ? 00:00:00 sh -c /mythtv/27/bin/mythtranscode --hls --hlsstreamid 1 --verbo

[2015-04-13 01:22] gustden commented on #43
I did notice that the .ts files are being created in /home/mythtv/streaming directory and  permissions look fine.

The_Good_Wife_S6E15_Open_Source.mp4.1280x720_800kV_64kA.ao_32kA.000001.ts
The_Good_Wife_S6E15_Open_Source.mp4.1280x720_800kV_64kA.ao_32kA.000002.ts
The_Good_Wife_S6E15_Open_Source.mp4.1280x720_800kV_64kA.ao_32kA.000003.ts
The_Good_Wife_S6E15_Open_Source.mp4.1280x720_800kV_64kA.ao_32kA

[2015-04-13 03:22] dmfrey commented on #43
Can you check if the individual .ts files are 0 bytes? I had that problem
with v0.27 with HD recordings from my hdhomerun prime boxes. This does not
happen in v0.28 for me at least.

On Sun, Apr 12, 2015, 9:22 PM gustden <notifications@github.com> wrote:

[2015-04-13 12:25] gustden commented on #43
Looks like the same issue, the .ts file are 0 size.   I tested against my 0.28 dev server and the .ts files are created just fine. However I did find another issue:

The internal player gives me a bunch of horizontal lines and audio.  See attached.
![nexus7-4 4 4](https://cloud.githubusercontent.com/assets/11760046/7115428/363bd8a8-e1ae-11e4-9f41-408be4db1395.jpg)
This is on a nexus 7 (andorid 4.4

[2015-04-13 12:57] dmfrey commented on #43
This is odd.  Why one media player works and another doesn't.  Whether you
use the internal one or an external one, they all use the same underlying
MediaPlayer API built into android.  Are you able to grab a LogCat of what
is going on on your device while this occurs?

On Mon, Apr 13, 2015 at 8:25 AM gustden <notifications@github.com> wrote:

[2015-04-13 14:22] gustden commented on #43
It seems to be related to the type of file that is being played.   I just did a new over the air recording it worked fine with the internal player.    So, It seems to be specific to existing files that are already encoded as mp4 show up with the horizontal lines.   First glance,  I didn't see anything unusual in the logcat.  I'll play with it more later.

Is rotating the screen supported yet?   Th

[2015-04-13 14:41] dmfrey commented on #43
Rotation has worked for me in the internal player.

For these transcoded recordings and videos that are not working. Can you
play them with JWPlayer on the backend port 6544 directly?  If they are not
playing there, then there is an issue with the transcoded video. If that is
not the case, then it is the app and I will have to look further.

On Mon, Apr 13, 2015 at 10:22 AM gustden <notifications@

[2015-04-13 17:33] gustden commented on #43
I tried to view the m3u8 file directly on the backend using VLC  - same issue as the phone.  It does however play with Banshee.

Still confused as to whey the files play on android with both 'ES Media Player' and the stock android 'Video Player', but not VLC or your internal app.

Seems all my issues are related to mythtranscode and not your app directly.

[2015-04-13 17:33] #43 closed

[2015-04-13 17:47] dmfrey commented on #43
I have not had the best luck with mythtranscode and my video library. So
far, the recordings seemed ok. I am currently working on Issue #42 that
will give you more fine-grained controls over the HLS Transcode settings.
As well as overriding an external player for videos.  Maybe, once this is
complete, you will be able to change your settings and have better results.

On Mon, Apr 13, 2015 at 1:33 P

[2015-04-13 22:15] billmeek commented on #43
Decode matrix added to Wiki: https://github.com/MythTV-Clients/MythtvPlayerForAndroid/wiki/Home/_edit

[2015-04-15 01:28] #42 closed

[2015-04-15 17:07] dmfrey opened #45 "Honor Parental Controls"
Requested by user John Burroughs on the Mailing List

* Need to verify web services provide parental control data.
* Parental Control Management
  * Can parental controls be derived from the backend
  * Need to provide protected Settings for managing the parental level.
* Apply Parental Control level to Recordings
* Apply Parental Control level to Videos

[2015-04-15 17:12] billmeek commented on #45
Video/GetVideoList returns: ```<ParentalLevel>4</ParentalLevel>``` (looked it up when I saw John's email :)
I don't see it in Dvr/Recorded (or in MythTV mythconverg.recorded.)

[2015-04-15 17:13] dmfrey commented on #45
Are there any service calls that will return the current parental level set?

[2015-04-15 18:21] billmeek commented on #45
Not directly, however this works.
[code]
It comes from FE settings: Setup -> Media Settings -> Video Settings -> General Settings
->  "Starting Parental Level" on the 3rd page.

The passwords could be retrieved the same way. Mine in the DB look like:
[code]
Now, which FE should the app use for the settings. I guess the
same as the backend, however I'm not sure how that would
work for users that BE

[2015-04-15 18:33] dmfrey commented on #45
Ah, so on the backend there is a password set per parental level?

Are the levels more restrictive low to high? 1 being the most permissive!

On Wed, Apr 15, 2015, 2:22 PM billmeek <notifications@github.com> wrote:

[2015-04-15 18:50] gustden commented on #45
Since the parental control and passwords can be set differently on each frontend,  wouldn't you want to be able to set independent controls and passwords in the app?    As in my case,  I have the family room  set more restrictive than my bedroom.

[2015-04-15 19:27] billmeek commented on #45
Yes, password per level, except 1 which must be no restrictions.
And it has no password. And 4 is the highest.

[2015-04-16 01:51] billmeek opened #47 "Developer Console: Null Pointer In RecordingPlayerActivity.onCreate (RecordingPlayerActivity.java:50)"
I deleted/disabled VLC/Player and tried to duplicate this on my
Nexus 7 running: 5.0.2. Android picked some other player although
it took a long time to start and couldn't play the video.

[code]

[2015-04-16 03:35] billmeek opened #48 "Use Numeric Portion Of inetref For Sorting Recordings"
Really from Eric Sharkey on the -users list.

Consider breaking up the inetref into inetref_prefix and inetref.
Sort only on the inetref. The delimiter is currently '_', but for a
time during development, it was a ':'. Users who archive their
recordings could have both separators as well as no prefix.

[2015-04-16 13:55] dmfrey commented on #47
Why was the mFileUrl null?  Looks like something didn't get passed in correctly from the previous Activity/Fragment

[2015-04-16 14:04] dmfrey commented on #47
Were you able to attempt to play the video before it was 2% ready on the backend?

[2015-04-16 18:26] billmeek commented on #47
I've not been able to duplicate this.

The "Play" button didn't appear before there was a stream to decode. I
was monitoring the livestream table on the BE and it was 15 before the
button showed up.

[2015-04-16 18:30] dmfrey commented on #47
Does the livestream record in the sqlitedb contains the file url?

[2015-04-16 21:16] billmeek commented on #47
All of mine have the relative_url and none have the full_url.

Without knowing who submitted the Developer Console entry,
and without being able to duplicate the error, I'm not sure what
else to do.

Would it be acceptable to just check for null, print a Log.e and
return?

[2015-04-17 04:57] SiliconFiend opened #49 "Support Recording Groups and Passwords"
Please consider supporting Recording Groups as a filter, with support for their PIN/password as set in Mythfrontend (On the Watch Recordings screen, with the cursor in the Groups, press the Menu button and select "Change Group Password"). It's possible the Recording Group password may not be available via the services API. Thanks!

[2015-04-17 13:05] billmeek commented on #49
@dmfrey, FYI, the group names and passwords are stored in the
recgroups table. There was a single setting table entry, but that was
removed in 8/2010. The recgroups table isn't accessible from the
Services API.

[2015-04-17 13:25] dmfrey commented on #49
For parental levels, these appear to be set per frontend.  Is this also the
case for Recording Groups?  If so, then it is probably better the app
maintain its own list of pins/passwords for these features.

On Fri, Apr 17, 2015 at 9:05 AM billmeek <notifications@github.com> wrote:

[2015-04-17 13:43] billmeek commented on #49
Recording Groups are not host specific:
[code]

I'd agree that a 'per device' solution makes sense, especially for phones.
Tablets might be more likely be used by the whole family. So could the
current user be checked? What about the case where dad leaves himself
logged in and son picks up the tablet and watches something that wasn't
intended for young eyes.

MythTV seems to prompt once per sessio

[2015-04-18 01:11] billmeek commented on #45
Note that in 0.28-pre, GetSetting now returns a simple
    ```<String>settingORitsDefault</String>```

[2015-04-21 19:12] dmfrey opened #50 "Recording and Video Details does not switch player button correctly on settings change"

[2015-04-22 18:22] dmfrey opened #51 "Upgrade Android Support Library v22.1.0"

[2015-04-23 23:49] billmeek opened #52 "Watch Video/TV/Queue HLS/PLAY Fails: Handle Spaces (etc.) In File Names"
I think the URL needs to be urlencode, as the following file
isn't found in the backend (the filename only shows up as:
/StorageGroup/Streaming/Smila's)

From Wireshark:

    GET /StorageGroup/Streaming/Smila's Sense of Snow.mpg.640x480_800kV_64kA.m3u8 HTTP/1.1\r\n

From mythbackend.log

[code]

[2015-04-27 02:37] #40 closed

[2015-04-27 02:37] #50 closed

[2015-04-27 02:37] #51 closed

[2015-04-27 02:37] #39 closed

[2015-04-27 15:24] dmfrey commented on #52
@billmeek This is a big one.  I am pushing a special release just for this.  I have found that bumping up the bitrate on my HLS trancodes to at least 15000 and urlencoding the path solves the video playback issue.

[2015-04-27 15:28] #52 closed

[2015-04-27 16:05] #47 closed

[2015-04-27 18:25] dmfrey commented on #48
Do we use the inetref in any of our backend calls?  I will do some digging on this.

[2015-04-27 18:41] dmfrey commented on #48
looks like using it to get the artwork. I think i will have to just have a separate column, like I have the title_sort column that just breaks out the number.  And just use it for grouping. This way I maintain the existing calls to the backend to get the correct artwork.

[2015-04-27 18:48] dmfrey commented on #48
oops, looks like it is tvdb.py_, nothing at the end after the number

[2015-04-27 18:56] dmfrey opened #54 "Clicking a list item does not remember scrolled position when return"
Affects Shows, Episodes, Videos-movies and Videos-television

[2015-04-27 19:40] billmeek commented on #48
Right, it's tvdb.py_ or, for a short time during the initial prefix addition,
tvdb.py:. The same is true for tmdb.py. So a user could have 4 inetrefs
for a single program: <nothing>, 12345, ttvdb.py:12345 and ttvdb.py_12345.
Actually, there are cases where there are tmdb prefixes where ttvdb should
be. But I think folks should fix that in the BE.

[2015-04-27 20:38] dmfrey commented on #48
@billmeek can you clarify how you would want to use this for sorting?  Is this the case where you might see it with or without the prefix in separate entries?  Why would the backend put it in there one way for one recording and another or a different one?

[2015-04-27 20:40] dmfrey commented on #31
@billmeek can you retest this one and verify if it is still an issue. I have done some considerable work in this area and I believe new items show up instantaneously now once downloaded.

[2015-04-27 22:22] billmeek commented on #31
Right now, my 4.0.4 11" isn't displaying the 2 Spanish Recordings, but I have the
same file copied over as a Video and it displays OK.

My L displays both the Recordings and Video OK. Both have fresh 1.1.10
loads and I did a Force Stop/Clear Cache/Clear Data before testing. I just
can't collect good data on this one.

[2015-04-27 22:41] billmeek commented on #48
I was thinking of your email a few weeks ago that said 'sort on title only'.
That solves Eric Sharkey's issue and makes the app sort the way the
FE does. Personally, I like what you've done now. What would you
think of another setting like "Sort Watched Recordings By Title or
Title and inetref"?

Then folks who have lots of old recordings with different versions of
inetrefs would choose Title only

[2015-04-27 22:45] billmeek opened #55 "Recordings No Longer Display "Ready To Stream" on 1.1.10."
When selected, the recording screen displays QUEUE HLS.

[2015-04-27 22:53] dmfrey commented on #31
I wonder if in 4.0.4 I need to specify for sqlite it is utf-8. Or, its
something with the java param I am passing in. Maybe I can force that
string to utf-8.

On Mon, Apr 27, 2015, 6:22 PM billmeek <notifications@github.com> wrote:

[2015-04-27 23:01] dmfrey commented on #55
Was this after a wipe or clear data. It just needs to resync all the
programs and live streams the first time. I should probably sync the
recordings and videos first now, then the live streams so they can map up.

On Mon, Apr 27, 2015, 6:45 PM billmeek <notifications@github.com> wrote:

[2015-04-27 23:09] billmeek commented on #55
It was after a Force Stop, Clear Cache, Clear Data. No change
after 22 minutes.

Works OK on 4.0.4, but not L.

[2015-04-27 23:24] billmeek opened #56 "Fatal Exception: NullPointerException Fired When Trying To Leave Watch Videos Screen"
Can't recreate, seen 1 time on a 4.0.4 tablet.

[code]

[2015-04-27 23:27] billmeek commented on #31
Note that the recordings display in All Recordings and now in
Watch Video (on the same 4.0.4 tablet.)

[2015-04-28 00:47] #55 closed

[2015-04-28 02:10] #31 closed

[2015-04-28 02:41] dmfrey commented on #48
I like the idea of a property in the settings.  Let's do that. Should be pretty straight forward to implement.

[2015-04-29 13:44] dmfrey commented on #48
@billmeek so this is not as straight forward as I initially thought.  Also, the more I think about it, the more I don't want to do this.  If this gets implemented, then different shows with the same name will be grouped together.  For instance, I had originally setup to record the show Empire. Didn't actually watch it, but needed some recordings to play with.  But this rule on the backend also rec

[2015-04-29 14:02] dmfrey commented on #49
@billmeek I am trying to come up with an appropriate design for this.  I am thinking of swiping from the right of the screen to open a second drawer that allows you to select the recording group.  Other option would possibly be to have a menu item that pops a dialog to allow you to select it.  However, I kinda like that it is out of the way with the right drawer.  I think the drawer gives us most

[2015-04-29 14:44] SiliconFiend commented on #49
It would also be nice to provide a way to choose the initial/default recording group (the standard MythTV frontends have this function).

[2015-04-29 14:46] dmfrey commented on #49
@SiliconFiend that would be possible, but probably after initial load of the app data so I can see what is available

[2015-04-29 16:06] billmeek commented on #48
@dmfrey, don't programs like your Empire examples get grouped together
in the MythTV frontend now? If so, then Eric's title only sort should
work (app would display the same as the FE.)

I agree about the quality of metadata. Right now, last Sunday's
showing of Mr. Selfridge has no inetref, and the app correctly
(my opinion) displays it separately from those that have an
inetref with the existing

[2015-04-29 16:18] dmfrey commented on #48
i will have to verify that with my frontend.  I think they are all grouped
together by title, but I will check tonight.  Going back to just title will
be a bit of a reversal. Let me think about it a bit.

On Wed, Apr 29, 2015 at 12:06 PM billmeek <notifications@github.com> wrote:

[2015-04-29 16:48] billmeek commented on #48
I'm even more OK if you keep the existing sort ;).

[2015-04-30 03:57] fphillips opened #58 "Scrolling through missing coverart sends GetFile with no filename"
If I tail the 0.27-fixes backend log while scrolling in Recordings or Videos, as soon as a blank coverart enters the screen I see this:

FileName is a required parameter.

[2015-04-30 04:29] billmeek commented on #48
The issue has a fairly long history beginning with a bug in MythTV's
GetTitleInfoList (doesn't return titles without an inetref in 0.28-pre.)
In the app, original testing revealed that some titles were displayed,
but had no episodes underneath. That was resolved and also the
sorting was rewritten to handle the case of different inetrefs on the
same title. It did not address the multiple versions o

[2015-04-30 04:29] #48 closed

[2015-04-30 05:32] billmeek commented on #58
Thanks for adding the issue.

For Videos, the id (intid in the BE) is used. Checking video.getCoverart()
for null/empty could be used to prevent the query.

Recordings uses GetRecordingArtwork and the inetref.

[2015-05-01 02:44] dmfrey opened #59 "Refactor Loaders for Endless Scrolling"

[2015-05-02 03:01] billmeek commented on #58
@fphillips, the app checks for empty/null ineterfs before trying to
get coverart, however, it's  possible to have a valid inetref, but no
coverart. If you can do the following, I'd be interested in the number
of rows returned:
[code]

@dmfrey, the only way I can see to prevent this is to store the
[code]
Then check it before asking for it. Is this doable? I don't see it in the DB now.

For videos,

[2015-05-02 17:03] dmfrey opened #60 "When HLS Queued, set progress bar to update > 0% instead of 1%"

[2015-05-02 17:22] dmfrey opened #61 "Add GPLv3 License to project for use with deploying to F-Droid"
To be performed in Android Studio

Settings->Editor->Copyright->Copyright Profile
+       Name = GPLv3
        Add the text at the end of this email
        Validate (not sure why, but I did)
Apply

Just above Copyright Profile select Copyright
+       Scope = All
        Copyright=GPLv3
OK

Now select Code->Update Copyright

[2015-05-02 17:23] #61 closed

[2015-05-02 17:24] #60 closed

[2015-05-02 20:37] fphillips commented on #58
@billmeek It definitely fires off the error when an empty-inetref-item scrolls by, in addition to those just missing coverart. So either that code isn't working or something else is going on. I setup Android-studio with logcat. The only interesting thing I've seen is DvrPersistenceServiceEventHandler﹕ updateRecordedPrograms getting LiveTV items, which the app must then filter out.
I only had a few

[2015-05-02 22:33] dmfrey commented on #58
@fphillips That code is in there for the following reason.  First, the id's of all existing programs loaded in the db are retrieved.  Second, each entry in the returned data from the service api is checked to see if it already exists in the local db, if so, it is removed from that list.  Third, all programs returned from the api are either added or updated, but done so in a batch.  Lastly, any ids

[2015-05-02 22:44] billmeek commented on #58
@dmfrey, if there were banner, coverart and fanart and they
were bools, that would be enough for the app to know not to ask
for something that doesn't exist. The artwork response for one
of my shows that has an inetref, but no art looks like this:
[code]

[2015-05-02 22:50] dmfrey commented on #58
I think i found it. I was doing a check for != -1 on inetref, which is just wrong.  I will push this out and see if it fixes it.  However, I do have some changes in flight.  So it might now show all results as I work on the paging in the endless scrolling.

[2015-05-02 22:51] #58 closed

[2015-05-03 02:38] billmeek commented on #58
@dmfrey I think the video's have the same issue. The 1st link below
I've got fixed in my branch, but it's the 2nd two that I don't know how
to (elegantly) solve. I think that would care for Frank's video portion
of this issue.

https://github.com/MythTV-Clients/MythtvPlayerForAndroid/blob/master/app/src/main/java/org/mythtv/android/player/common/ui/adapters/SearchResultItemAdapter.java#L193
https:

[2015-05-03 15:21] dmfrey commented on #58
@billmeek I don't think those are an issue as they are not using inetrefs
to get the artwork.  I updated the titleinfo adapter that was using inetefs
to load the artwork.  Let me know if you are still seeing the blank calls
come through

On Sat, May 2, 2015 at 10:38 PM billmeek <notifications@github.com> wrote:

[2015-05-04 13:10] billmeek opened #62 "Recordings: Missing All Titles Without inetrefs"
Running on: mythtvplayer-1.1.10-12-ge6cffca

I reverted 1690107 (#58)  and that didn't make them come back.

[2015-05-04 13:34] dmfrey commented on #62
I think for this we will need to get the backend updated to return all
titles, whether a inetref is present or not.

Did we have an earlier issue for the same issue?

On Mon, May 4, 2015 at 9:10 AM billmeek <notifications@github.com> wrote:

[2015-05-04 14:00] billmeek commented on #62
We did, and it was the reason for switching away from GetTitleInfoList.

Dvr/GetTitleList returns everything, however it has nothing other than
the title.

I'll take this for now and put my 2 line fix back. I didn't write a ticket in
Trac at the time because the app wasn't going to use the endpoint.

[2015-05-04 14:21] dmfrey commented on #62
Refresh me on what the 2 line fix was?  You mean on the backend, correct?
That let's all the titles come down.  No i think i am remembering it.

On Mon, May 4, 2015 at 10:00 AM billmeek <notifications@github.com> wrote:

[2015-05-04 14:29] billmeek commented on #62
Yes, the 2 line fix is in the backend. I edited my initial reply and
added the BE diff there just in case anyone else wants to
apply it. I just searched the MythTV code and nobody is using
the endpoint (I'd be concerned if stewartm had it in the new
WebFrontend webserver.)

[2015-05-04 21:27] billmeek commented on #62
MythTV ticket created: https://code.mythtv.org/trac/ticket/12446

[2015-05-07 01:36] dmfrey opened #63 "Initial Load, press Settings, Navigation Drawer stays open"

[2015-05-07 02:08] #63 closed

[2015-05-08 02:42] #59 closed

[2015-05-08 18:22] dmfrey commented on #54
Fixed with Issue #59

[2015-05-08 18:22] #54 closed

[2015-05-08 20:38] dmfrey opened #64 "Add other category tabs to Watch Videos"
Add tabs for HOMEVIDEOS, MUSICVIDEOS, ADULT.

Need to add password protected area in to Settings to allow Adult tab to be hidden

[2015-05-14 13:15] dmfrey opened #65 "Search Suggestions Colors make text unreadable on Android 4.x"

[2015-05-15 14:47] #45 closed

[2015-05-15 23:27] dmfrey commented on #49
@SiliconFiend What other recording groups do you have besides Default, LiveTV, Deleted, other standard ones, etc.  The app never shows anything that is deleted or LiveTV.

[2015-05-16 00:08] SiliconFiend commented on #49
Well, the one I would want to be able to choose as an alternate default is one I've set up for the kids' recordings. By the way, I checked and the passcode is global across all frontends.

[2015-05-17 14:01] billmeek opened #66 "Watch Recordings: Titles Appear OK With Coverart, but Empty Tile Also Appears"
Just documenting this for now because I don't know how
to recreate it. But it's been happening consistantly.

Symptom: A 'normal' tile appears in Watch Recordings,
that is it has coverart and when tapped, all of the episodes
are displayed.

The issue is that at times, there is a 2nd tile with the same
title, but no coverart and when tapped, nothing is displayed.

SQL from the BE and app:
[code]

[2015-05-20 02:15] dmfrey commented on #49
@billmeek I started to implement this, got it mostly done actually.  However, TitleInfoList does not have the Recording Group in it. So might have to go back to using just the programs table and ditch the title info list altogether.  What do you think?

[2015-05-20 03:12] billmeek commented on #49
@dmfrey, Makes sense to ditch it. Too bad, TitleInfoList would
be a good choice for the top level recording list where little detail
is required. It would be interesting to allow the client to tell TitleInfoList
what additional fields to return, e.g. a new parameter like:
Wants=recordgroup,inetref,season,episode
but I think that breaks the design intent on the BE (keep the client
insulated from th

[2015-05-21 02:20] dmfrey commented on #49
@billmeek try this out with your different recording groups and let me know how it goes.  Enable it in Recording Settings and then select the different group to change it.

[2015-05-21 02:23] dmfrey commented on #49
also, I think we should move security for these to a separate issue.  Get all the base functionality working first, then implement security app-wide.  What do you think?

[2015-05-21 03:02] billmeek commented on #49
In All Recordings, my This Old House recording group (named TOH)
displays perfectly.

In Watch Recordings, all titles display and all are empty with the
exception of This Old House. It has the correct number of episodes.
It might be 'prettier' if the Watch Recordings screen could have only
the titles for the selected group too.

Search results display any existing episode even though I've set my
D

[2015-05-21 11:01] dmfrey commented on #49
This was the intent...

1. Only display titles in selected recording group
2. Count should reflect episodes of recording group
3. Episodes in titles should reflect those in recording group

Looks like in need to play more with recording groups on the backend so I
can recreate this better in the app

On Wed, May 20, 2015, 11:02 PM billmeek <notifications@github.com> wrote:

[2015-05-21 16:05] billmeek commented on #49
@dmfrey good info. I missed the Count part of All Recordings.
Even though only my TOH ones display, the count is 217 (which
is the same without the Recording Group filter turned on.) It
should have been 14.

[2015-05-21 16:23] billmeek commented on #66
It appears that to duplicate this 'phantom tile',  just  leave
the tablet on while the BE is also on and a new recording is
made. Perhaps it's that during the recording, the inetref
isn't available.

Example (Chicago PD below with blank inetref):
![screenshot_2015-05-21-11-14-23](https://cloud.githubusercontent.com/assets/1831699/7753382/abeac66c-ffaa-11e4-8c5c-4ac29cb91a33.jpg)

The fix is to sto

[2015-05-21 16:39] billmeek commented on #66
Yet another accidental test finding. The 'phantom tile' vanishes
if I pick up the tablet and rotate it from landscape to portrait.
Happened on 4.0.4 and 5.1.

[2015-05-21 16:49] billmeek opened #67 "Developer Console: NumberFormatException: Invalid int: "", App version 1.1.9"
No user comment.

    Application version   1.1.9
    Android 4.4
    Galaxy Tab2 10.1 (espresso10wifi)
[code]

[2015-05-22 02:33] billmeek commented on #49
Significantly better. The only thing that may be of concern is in
Search Results. When my TOH Recording Group is selected,
only This Old House episodes display - Perfect.

However, when I select the Default Recording Group, and search
for This Old House, it is found and displays episodes in Search
Results. I would have guessed that it wouldn't.

[2015-05-22 02:39] billmeek commented on #66
Also note that I'm running with the MythTV Services API fix that
allows titles without inetrefs to be returned. That's going to hide
the issue from anyone without the patch.

The ticket was accepted 2 weeks ago by stuartm and written against
0.27. Patches for 0.27 and master were submitted, so I'm hopeful that
they will get released. https://code.mythtv.org/trac/ticket/12446

[2015-05-22 09:37] dmfrey commented on #49
Should search truly be global, or, should it also honor the recording
group? Is there any equivalent to this on a traditional front end?

On Thu, May 21, 2015, 10:33 PM billmeek <notifications@github.com> wrote:

[2015-05-22 09:43] dmfrey commented on #49
If we are going to put a pin on the settings, should you only be allowed to
change the recording group in the settings?

If so, then we should probably make the search also honor the recording
group and parental controls for videos

On Fri, May 22, 2015, 5:37 AM Daniel Frey <dmfrey@gmail.com> wrote:

[2015-05-22 13:01] dmfrey commented on #66
@billmeek does this still occur with the fix to issue #49?

Or is this the case where something is currently recording?  It is showing
the title, but no recordings appear because there status is not one we are
listing (i.e. recording, livetv, etc.)?

On Thu, May 21, 2015 at 10:39 PM billmeek <notifications@github.com> wrote:

[2015-05-22 21:20] billmeek commented on #66
It appears to happen when something is recording and the app
retrieves the list of shows.

Now, with 49, the phantom is self-healing. If I press on the title with no
coverart, nothing is displayed (same as before) but if I then
press on the title with coverart, it is AND the phantom goes
away when returning from the episode list to Watch Recordings.

[2015-05-22 21:42] billmeek commented on #49
The search in MythTV is only available for scheduling
recordings. Not for viewing them. I'd say the answer to your
question is no, nothing in the traditional FE.

In the app, I ``think`` the search should be restricted per
the user's choices.

Seems like the goal here is "Kid Safe". I'm wondering if an
overall adult password is all that's required. Once setup,
the Ratings selection and available R

[2015-05-22 21:51] SiliconFiend commented on #49
I'm not sure what the mechanics would look like. I'm pretty satisfied with the way it works in the Myth frontend, where it prompts for the group PIN whenever you try to change to the protected recording group. We don't currently use the restrictions in the videos since it's pretty much filled with the kids movies anyway, so I don't know what that would look like.

[2015-05-23 01:48] #64 closed

[2015-05-23 01:49] dmfrey commented on #62
reverted app to use programs instead of titleinfos

[2015-05-23 01:49] #62 closed

[2015-05-23 02:01] #49 closed

[2015-05-23 02:08] dmfrey commented on #67
stacktrace does not line up with current code, however, I think i found where this NullPointerException might be firing.  Fix should resolve it.  Unsure how to test this resolution, however.

[2015-05-23 02:08] #67 closed

[2015-05-23 02:36] #66 closed

[2015-05-26 02:39] billmeek opened #68 "Notify User When Corrupt Data Is Detected"
Known cases have been start/end times and today, missing hostname in Watch Videos.

[2015-05-26 02:42] billmeek opened #69 "Password Implementation for Parental Control"
Based on user input, it sounds like an overall password to control the
ability to change settings. Then, at least one user wants the existing
MythTV model that requires passwords on Parental Levels & Recording
Groups. I think.

[2015-05-28 01:31] spearson2010 opened #70 "Nexus Player - Entering data with on screen keyboard and remote."
On my Nexus Player I am unable to save data entered via the on screen keyboard.  For example, I enter the backend ip address using the remote and on screen keyboard, I click "Next", which moves the focus to the Cancel button.  The only option available on the on screen keyboard now is Done, which seems to press the Cancel button.  There doesn't seem to be a way to move the focus off the Cancel but

[2015-05-28 21:33] billmeek commented on #9
No recurrences in seven weeks, closing.

[2015-05-28 21:33] #9 closed

[2015-06-03 14:17] dmfrey opened #72 "Replace Navigation Drawer with new NavigationView"
NavigationView is a part of the new Android Design Support Library introduced at Google IO 2015

http://developer.android.com/tools/support-library/features.html#design

[2015-06-03 14:33] #72 closed

[2015-06-03 18:40] dmfrey opened #73 "Add Snackbar for Recorded Programs updated notification"
Add the new Snackbar introduced at Google IO 2015 in the new Android Design Support Library to notify users that recorded programs were updated

http://developer.android.com/tools/support-library/features.html#design

[2015-06-03 18:41] #73 closed

[2015-06-03 22:47] dmfrey opened #74 "Replace custom SlidingTabLayout with TabLayout from new Android Design Support Library"
The Android Design Support Library was announced at Google IO 2015 and has introduced a standard TabLayout implementation.  The custom SlidingTabLayout be replaced

http://developer.android.com/tools/support-library/features.html#design

[2015-06-03 22:47] #74 closed

[2015-06-04 00:14] dmfrey opened #75 "Wrap Toolbar in CoordinatorLayout and AppBarLayout"
The Android Design Support Library introduced new layouts for wrapping the Toolbar to assist in animating it.

[2015-06-04 00:15] #75 closed

[2015-06-04 23:08] SingingDwarf opened #76 "Display Series and Episode numbers in show and episode screens"
The episode Series and Episode numbers are absent from the show (accessed via a show title in the All Recordings screen or via Search) and the episode screen itself.

Displaying the Series and Episode numbers, particularly within the show and search results screens, would allow more accurate selection of the correct episode to view.

[2015-06-04 23:13] SingingDwarf opened #77 "Provide large scroll button in All Recordings list"
With a large number of recordings, scrolling towards the bottom of the list can be tedious.

Modify scroll control on All Recordings list to provide a large scroll button, which allows user to quickly scroll around.

[2015-06-04 23:14] SingingDwarf opened #78 "[Enhancement] Provide feature to allow episode to be downloaded"
Provide the user with the option to Download, as well as Play, an individual episode.

[2015-06-04 23:19] dmfrey commented on #77
To be more performant, these episodes are lazy loaded, so the list is not
fixed until you reach the bottom.  Does the search feature help with this?
You can search on any field in the db just by typing it into the box.

On Thu, Jun 4, 2015 at 7:13 PM SingingDwarf <notifications@github.com>
wrote:

[2015-06-04 23:25] dmfrey commented on #78
I will have to think about this one. You are possibly talking upwards of
10Gb for and hour and a half HD recording. 6-7 for an hour and 3-4 for a
half hour.  Videos, especially bluray MKV files could be upwards of 50 Gb.
These episodes would need to be transcoded first on the backend.  There is
no data to indicate it if a recording has been transcoded.

We would need more details as well as workfl

[2015-06-04 23:28] SingingDwarf commented on #77
The search feature does help massively, but I do find those applications with a 'fast' scroll much easier to navigate around. It would be quicker to scroll to a particular show, than have to type its name into the search box.

[2015-06-04 23:33] SingingDwarf commented on #78
I'm thinking simply to download a copy of the recording to local storage, no need to keep in sync with the backend. Regular frontends aren't portable like a tablet/phone, so don't need the feature.

It would be nice to be able to download shows to local storage (possibly restrict to wifi connections only if worried about bandwidth), in order to allow user to view the show where there is no connect

[2015-06-05 03:03] dmfrey opened #79 "Refactor old hacks for layout on older versions of Android"
Android Design Support Library has eliminated the need for these

[2015-06-05 03:04] #79 closed

[2015-06-08 01:48] billmeek commented on #78
@SingingDwarf, just FYI, I removed the Enhancement from 3 subjects
and set the enhancement label.

[2015-06-08 01:58] billmeek commented on #65
Running on 1.1.12 at eec43e1. In 4.0.4 and 4.4.2, the text is
now very close to the background color. Works A-OK in L.

[2015-06-11 02:46] #76 closed

[2015-06-11 18:46] billmeek opened #81 "Missing Back, Search and Settings icons"
On a Samsung 7" tablet in either the landscape or portrait mode, the
above aren't visible. Running on mythtvplayer-1.1.11-23-gfa80944.
3.4.5 kernel, SM-T210R tablet, 4.4.2 Android.

![screenshot_2015-06-11-13-39-19](https://cloud.githubusercontent.com/assets/1831699/8115281/efdb1e3a-103f-11e5-8ac9-9af26e72ea32.png)

Same shot on Nexus L
![screenshot_2015-06-11-13-50-21](https://cloud.githubusercon

[2015-06-12 01:48] #81 closed

[2015-06-12 02:33] billmeek opened #82 "Banners with white backgrounds prevent Back and Search icons from showing"
If the user touches the right area,the icons work just fine.
If the user swipes up, the icons display OK on the teal?
background. Titles that don't have any banner work OK
too.

Note that the title in the lower left of the following screenshot
is hard to read in the near white area.

Observed on 4.0.4, 4.4.2 and 5.1.1 running on mythtvplayer-1.1.11-24-g6807481

![screenshot_2015-06-11-21-23-30](ht

[2015-06-13 20:51] billmeek opened #83 "Settings display over 'MythTV blue' background when invoked from Watch Videos"
Select Watch Videos, any video, press the List icon in the
Action Bar. Then press Settings.

Instead of displaying on a white background, the settings
will be teal and difficult to read. Also note that All Recordings
is displayed in the screenshot (at the bottom.) Pressing return
correctly goes back to the selected video.

This does not occur when trying to change the settings while
on a program i

[2015-06-13 22:56] billmeek opened #84 "An episode with no coverart displays white text on a near white background"
The program information is barely visible. Pressing in the
Play/Queue HLS area does work correctly

This occurs in Watch Recordings. Watch Videos is OK.

![screenshot_2015-06-13-17-52-09](https://cloud.githubusercontent.com/assets/1831699/8146280/30b7c8ca-11f5-11e5-868b-5db5fbdd92fa.jpg)

[2015-06-15 03:42] billmeek opened #85 "Selecting multiple tabs in Watch Videos requires multiple Back button presses to exit"
To duplicate (4.0.4 and 4.4.2, not L): Select Watch Recordings,
select each of the available tabs. One Back press will be required
for each tab pressed to exit the app.

Note that the tabs should be pressed left to right. If the MOVIES tab
is pressed last, the  multiple Back presses aren't required.

[2015-06-15 09:32] dmfrey commented on #85
Is this watch recordings or watch videos? There are no tabs in watch
recordings. If it is watch videos, I coded it that way. Seems to be a
standard navigation flow, but let's discuss it. It is easy to remove if it
doesn't work out right with the app flow.

On Sun, Jun 14, 2015, 11:42 PM billmeek <notifications@github.com> wrote:

[2015-06-15 14:04] billmeek commented on #85
Fixed title. I never noticed this before and assumed it was a regression.
If available, then I'd suggest making it possible to leave Watch Videos
with a single Back press.

Also noted that it operates the same in L as 4.x.x.

I *thought* that earlier in the app's life it was possible to exit the entire app
from Watch Videos too. Now the user is returned to Watch Recordings
and then one more Back e

[2015-06-15 14:08] dmfrey commented on #85
With the move to the standard Navigation Drawer View now, it was removed to
back out of the app from Watch Videos.  I have not found a place in the new
model to re-enable that.

If you think back button should exit Watch Videos, I can remove that code
that forces that behavior.

On Mon, Jun 15, 2015 at 10:04 AM billmeek <notifications@github.com> wrote:

[2015-06-16 00:37] billmeek commented on #85
I'll close the issue and if more users are concerned, it can be
reopened. The workaround is to use use MOVIES, Back, Back
to exit from Watch Recordings. Maybe it's more of an education
thing.

[2015-06-16 00:37] #85 closed

[2015-06-24 00:36] #83 closed

[2015-06-24 02:03] dmfrey commented on #82
I am not sure how easy it is going to be to animate the color of that.  I have noticed this in the google play tv and movies app as well, white text on white/light background.

[2015-06-24 03:51] billmeek opened #86 "Developer Console: java.net.MalformedURLException"
It appears that 2 users are attempting to enter the BE port in the
Master Backend Address setting. One case looks like someone is
trying to implement  port forwarding there: kv26.noip.me:9090:6544

In the  Developer Console, the version is 1.1.10. However the issue
is easily duplicated in the current master (stack trace below.) I entered:
192.168.1.204:1234 for the BE address. The only way to reco

[2015-06-25 02:04] dmfrey commented on #84
I am gonna turn off the color picking for a while.  I need to see if I can figure out if I can determine how light the color of the image is and swap it out for the default color.

[2015-06-26 17:54] billmeek commented on #84
I didn't test the Play case, only Queue HLS (which works OK.)

The Play button is white on a white background. To duplicate:
In Watch Recordings, select any recording. Press Menu->Settings
and change the Internal Player off.

[2015-06-27 01:03] dmfrey commented on #84
Hmm, which device, android os?  Mine are black text on white background.

[2015-06-27 02:47] billmeek commented on #84
Samsung 7" and 10", nexus 7". 4.4.2, 4.0.4 and 5.1 respectively.
Also, the Play button is white on white for all recordings, not just
those without coverart. All running: mythtvplayer-1.1.11, commit: 5b71b83

[2015-06-27 03:27] #86 closed

[2015-06-27 04:06] billmeek commented on #84
Portrait is OK, landscape is where it's unreadable.

[2015-06-27 04:28] dmfrey commented on #84
Ah, OK, should be an easy fix if it is isolated to just that one view.

On Sat, Jun 27, 2015, 12:06 AM billmeek <notifications@github.com> wrote:

[2015-06-27 13:22] #84 closed

[2015-06-27 15:34] dmfrey commented on #82
@billmeek what do you think of the last comment?

[2015-06-27 18:34] billmeek commented on #82
Re: the 'not sure how easy it is going to be to animate the color' comment,
I really don't understand the "animate" part. I see commented out AnimationUtils.animate
in the latest commit. Found some mention in stackoverflow.com and assume it's the
ability to change colors, not anything to do with moving pictures.

The description should have also mentioned that the voice search icon is
hidden too.

[2015-06-28 01:14] dmfrey commented on #82
this is a tough one.  The things I am seeing are all hacks. One thing I can set is expanded text view and the collapsed text view. I think the problem is we are going to run into this one way or another. Either the image will be too light and the text unreadable. Likewise, if try to invert it, a the image would be too dark with dark text.  And that is just for setting the text.  It was even more o

[2015-08-08 14:38] dmfrey opened #87 "Google Play Crash: Error processing SVG image"
Occurred on LG G3
[code]

[2015-08-08 14:40] #87 closed

[2015-08-09 15:27] dmfrey commented on #70
@spearson2010 Here is an update on this.  I was able to reproduce this issue.  I found a workaround for you in the meantime...

1. Go to the preferences and select the Master Backend Address
2. Use the remote to enter the correct IP Address - DO NOT PRESS THE NEXT BUTTON on the onscreen keyboard
3. Hit the Back button on the remote when the ip address is fully entered. This will send focus back to

[2015-08-09 15:29] dmfrey commented on #65
I believe this was fixed with a prior commit.  I have verified it on an 4.x phone.  @billmeek give a look as well and close if no longer an issue.

[2015-08-09 16:40] billmeek commented on #65
Seems the same to me. The magnifying glass is invisible but
it's in the upper right. The show title is visible, but hard to read.

![screenshot_2015-08-09-11-41-11](https://cloud.githubusercontent.com/assets/1831699/9155825/2fcc1804-3e8b-11e5-9cc7-3b333088e577.jpg)

[2015-08-09 16:46] dmfrey commented on #65
Oh, I thought this was referring to the search suggestions drop down when
you have search results in your history, not the search icon in the toolbar.

On Sun, Aug 9, 2015, 12:40 PM billmeek <notifications@github.com> wrote:

[2015-08-09 16:50] #65 closed

[2015-08-11 03:50] billmeek commented on #82
Running on: mythtvplayer-1.1.13-1-dirty, commit: 0dfe6b7

Appears like the opposite of the 'all white' issue, with this
'very black' one.

This is unusual. The very 1st time the app is started, the
search and back icons are black on black. Displaying the
same screen again has the icons in white.  Even exiting
the program and restarting it continues to display OK.
If I Force Stop and Clear Cache, t

[2015-08-11 16:57] dmfrey commented on #82
what happens if you scroll it and the banner collapses? based on this pick, i would expect the title to be black.

[2015-08-11 17:49] billmeek commented on #82
You're right. If I scroll up, a black title "Scandal" can be seen on top
of the red graphic "CANDAL" in landscape, or "NDAL" in portrait.

[2015-08-12 00:48] #82 closed

[2015-09-01 20:56] emil10001 opened #88 "Android TV unable to play"
When running the app on an Android TV, I'm able to see the recordings (but no thumbnails), but am not able to play content. I tried both the internal player and the options to launch an external player. Neither worked.

[2015-09-01 21:12] emil10001 commented on #88
Nevermind, I had the wrong port, it is now working!

[2015-09-01 21:12] #88 closed

[2015-09-02 00:15] dmfrey commented on #88
Thanks John. Let me know how it goes.

On Tue, Sep 1, 2015 at 5:12 PM E. John Feig <notifications@github.com>
wrote:

[2015-09-05 20:11] to6 opened #89 "No play button, only Queue HLS"
In Version 1.1.11 I have no "Play" link as I've seen in the screenshots of PlayStore. There is only the link "Queue HLS" below the description of the recording. How can I enable direct playing?

[2015-09-05 21:33] billmeek commented on #89
Hi,

Select Settings, DEFAULT PLAYER, Internal Player. You can do this
from the Navigation Drawer or from a recording.

[2015-09-07 07:22] to6 commented on #89
Thanks a lot. It's not exactly this I think. But your hint encouraged me to play around with the player options. I get the "Play" button only, if I disable both, internal and external player. Perhaps it's a translation problem, I'm using the german version.

[2015-09-07 15:32] billmeek commented on #89
Glad you've got it working. 1.1.11 was the 1st version to have a
translation in it. And it was initially done via Google Translate.
Another German user submitted changes that are included in
later releases.

[2015-09-07 15:32] #89 closed

[2015-09-15 22:57] SingingDwarf opened #90 "Unable to playback on Sony Bravia KDL43W805CBU"
I have succesfully installed MythTV Player on my Sony Bravia KDL43W805CBU and can view the list of videos and recordings available on my backend. The fanart also displays correctly.

However, when I attempt to playback any recording or video, the system just displays the fanart. The left hand menu disappears and the system remains responsive (i.e. I can select Back), but the video does not play.

[2015-09-16 00:11] billmeek commented on #90
Hi, please mention the version of your MythTV backend and the type
of recordings, HD or SD (we can talk about videos later.)

[2015-09-16 17:21] SingingDwarf commented on #90
Apologies, I should have stated that I'm running 0.27.4+fixes.20150601

[2015-09-16 17:40] billmeek commented on #90
That helps. Let me know if you're trying High Definition or Standard
Definition recordings. With mythtranscode, Queue HLS in the app,
HD will fail. Both Dan and I are running 0.28-pre. Why VLC is failing,
I don't know.

[2015-09-16 23:08] SingingDwarf commented on #90
Sorry, these are all SD recordings.

Are any log files generated by MythtvPlayer for Android? Is there anyway to view them on the TV, or get hold of them somehow?

[2015-09-16 23:18] dmfrey commented on #90
Take a look at these instructions to setup adb to remotely access the logs.
https://developers.google.com/cast/docs/android_tv#adb-tcpip

Unfortunately, if it is a vlc issue I won't be able to produce logs for
that.  But it sounds like it happens both internal and external.

Can you verify you have the url and port setup correctly in the interface.

@billmeek has instructions in the wiki on how to

[2016-01-25 21:48] brianjmurrell opened #91 "doesn't always display all videos"
Per the [G+ thread](https://plus.google.com/115193849724776970568/posts/a7JGfojA3F6) I started yesterday, I am having problems where not all of the Movies and TV shows I have on my BE are being displayed in the Watch Videos page.

Most recently, I cleared all data in the app, re-entered by backend address and set my preferences and now it is displaying them again.  But I have had this intermittent

[2016-01-26 19:20] billmeek opened #92 "NullPointerException: Attempt to invoke virtual method"
This fired after updating from Android Studio. Starting the app
again ran without the exception. Nexus 7 running
Android 6.0.1 at commit 4aa67ee. I've seen this before, so
it's not this commit. Just haven't caught the trace before.

[code]

[2016-01-26 22:19] billmeek commented on #92
Just responding to the ideas on IRC: the recording exists and plays
OK in MythTV and on the app. The inetref is good, artwork displays
OK too. Plus, it only fails the 1st time.

In 1st line above: recordingInfo=RecordingInfo(recordedId=5236... which is correct.

But in the 2nd line: programModel.getRecording=RecordingInfoModel(recordedId=408...

And that's wrong, 408 is the recordId. Since this wo

[2016-01-27 01:15] dmfrey commented on #92
if you get the data from the backend, does it have it in the wrong spot?
Maybe I am mapping it incorrectly.  A lot of things are named the similarly.

On Tue, Jan 26, 2016 at 5:19 PM billmeek <notifications@github.com> wrote:

[2016-01-27 01:33] billmeek commented on #92
I believe the app is doing: http://192.168.1.204:6544/Dvr/GetRecordedList?Descending=true
and the data looks OK to me. If it makes a difference, this program records on 3 different
PBS channels, but I only have one recording of this episode.

Just had another one. I believe I had the verbose level set too high originally,
now it's back at Verbose to get everything. Also note that I added a debug o

[2016-01-27 16:43] billmeek commented on #92
With 54ee19e, got the same exception. 1st use of the tablet this
morning. From Home, went to Watch Recordings (which was OK) and
then Watch Videos where this fired:
[code]
When I started the app again, Watch Videos displayed fine. No new videos were added.
The debug statement I added didn't fire on this attempt (and only fired once on the 1st.)

[2016-01-28 04:11] billmeek opened #93 "Exception: ActivityNotFoundException"
Running on f503b3b. Go to Settings/Video Settings or Recording Settings to reproduce.
[code]

[2016-01-28 13:53] dmfrey commented on #91
@brianjmurrell can you attach the files here so I can check them for parsing issues?

[2016-01-28 19:17] brianjmurrell commented on #91
But if the problem was parsing, why would they parse fully sometimes and not others?

I think what I am saying is that it feels like parsing is not the problem.

[2016-01-29 15:13] billmeek opened #94 "Exception: RuntimeException: Unable to instantiate application com.android.tools.fd.runtime"
This fires at app startup time. The Home screen never displays. Only the
Unfortunately, Mythtv Player has stopped\nOK message. Running on
commit: a13f450 and a 4.4.2 Android version.
[code]

[2016-01-29 15:59] dmfrey commented on #94
@billmeek Make sure Android Studio is updated to latest 2.0 preview (5 I
think).

On the CLI, execute ./gradlew wrapper. Make sure it updates Gradle to 2.10.

If neither of these fixes it, disable Instant Run in Android Studio
https://sites.google.com/a/android.com/tools/tech-docs/instant-run

Let me know if this fixes it.

On Fri, Jan 29, 2016 at 10:13 AM billmeek <notifications@github.com> wrote

[2016-01-29 17:28] billmeek commented on #94
Upgraded to gradle 10 (thought I saw alpha8 load days ago) but it did
appear to [re]install it version, I'm already on AS 2.0 preview 8.

Turning Instant Run off got past the problem.

[2016-01-29 17:28] #94 closed

[2016-01-29 18:03] dmfrey commented on #94
Great. The alpha8 is different than gradle 2.10. Alpha8 is the gradle
android plugin.

On Fri, Jan 29, 2016 at 12:29 PM billmeek <notifications@github.com> wrote:

[2016-03-09 21:19] billmeek opened #95 "Titles with no inetref display banners from other titles"
I have 8 titles that don't have inetrefs. All but one of them displays
a banner from some other title. I haven't spotted a pattern yet and
can't explain why one of the eight correctly displays the title.

The Inetref in the responses from the backend are also
empty, as expected:
[code]

[code]

[2016-03-09 21:32] billmeek commented on #95
Restarted the app and now the single 'non inetref' title that didn't
have an incorrect banner has one. All eight are failing now.

[2016-03-10 03:34] billmeek commented on #95
Perfect.

[2016-03-10 03:34] #95 closed

[2016-03-10 04:31] billmeek opened #96 "REST with TitleRegEx and special characters misses episodes"
I have a title with ()s in it. On the Watch Recordings/
Watch episode screen, it displays OK.

But when I go to view a recording, there are none. Even
though the previous screen said there was 1.

The issue is that TitleRegEx truly handles regular
expressions, and the ()s are two of the special
characters.

Here's the actual url being used:
[code]
The %28 and %29 correctly get converted to ( and )

[2016-03-10 13:26] dmfrey commented on #95
FYI. No need to close these manually. It is marked as fixed and when the
merge takes place it will close it automatically.

On Wed, Mar 9, 2016 at 10:34 PM billmeek <notifications@github.com> wrote:

[2016-03-11 00:48] dmfrey commented on #96
@billmeek I don't have any titles like this to test with. Please verify and let me know if it fixes it.  Take a look at the commit to see where I modified it. If you need to adjust it, go for it.

[2016-03-11 03:59] billmeek commented on #96
@dmfrey, that doesn't work, but adding 4 backslashed works for this
specific case. I changed the title to this:
[code]
and is doesn't work. Trying to get all of the regex special characters
in one shot, but left out the ?. Since the regex isn't really being used,
would it make sense to revert to chanid/starttime?

[2016-03-11 13:43] dmfrey commented on #96
We definitely don't want to encode ?, & and =, as they are a part of the querystring spec.

What do you mean revert to chanid/starttime? Don't use the TitleRegEx query?

[2016-03-11 14:59] billmeek commented on #96
I see, at this point, the specific episodes aren't known, just the
titles, so TitleRegEx is the only choice.

But how does a title that contains characters from the regex set
get matched?

Since the encoding of  ()'s works, it appears that they're decoded before
the regex is used. That's why putting a \ in front of them worked for the
original case here. I thought that would apply to all of the re

[2016-03-11 15:07] dmfrey commented on #96
Maybe we then just drop all the special chars you mentioned and replace
them with %20 or +

On Fri, Mar 11, 2016 at 9:59 AM billmeek <notifications@github.com> wrote:

[2016-03-11 15:19] billmeek commented on #96
The 'specials' need to be replaced with dots.
Spaces  for the 'specials' wouldn't match.

There would be a chance for false positives, e.g.
"Some Title?" vs. "Some Title$". But at least the
episodes wouldn't be lost.

Maybe "Some Title [stuff]" vs. "Some Title {stuff}"
would be a better example. But I think both examples
are unlikely in the wild.

[2016-03-11 15:49] dmfrey commented on #96
ok, so I will take that list from the original post for this issue and
translate them all to '.'

On Fri, Mar 11, 2016 at 10:19 AM billmeek <notifications@github.com> wrote:

[2016-03-11 15:56] billmeek commented on #96
Sounds good.

[2016-03-11 16:04] billmeek commented on #96
This works if you don't already have it:
[code]

[2016-03-11 16:18] billmeek commented on #92
This has the logging added in the above commit and note that this
happens on 1st startup, e.g. on a new day, or new download of the apk.
Frequent, but no 100% of the time:
[code]

[2016-03-11 18:09] billmeek commented on #96
The commit works, but consider this: I put a ó before the y
in an existing title and see this in the LogCat:
[code]
Is substituting a dot for all non alphanumerics too severe
(as opposed to only replacing the regex set?) I'm concerned
that some wrong foreign title will match most likely in the case
of different vowels.

I did get all my distinct titles and removed those that weren't
all alphanumer

[2016-03-11 18:39] dmfrey commented on #96
OK, I would say let's wait until it gets reported as an issue.  We may need
to tweak that regex I put in there. However, if your change already
supports that, then feel free to add that back in there and use that
instead.

On Fri, Mar 11, 2016 at 1:09 PM billmeek <notifications@github.com> wrote:

[2016-03-14 21:22] billmeek opened #97 "Settings unavaible from episode screen"
I think this is a regression. Go to any episode, press the
settings icon and select settings. The page that comes
up is Recording Group Settings. To change the type of
player, you must exit and use the Navigation Drawer to
select Settings and change the Internal Player.

[2016-03-14 21:25] billmeek opened #98 "RuntimeException Unable to start activity from episode/settings/back arrow"
Try to change the Internal Player setting (see #97) and when
the Settings screen comes up, press the back arrow to return
to a previous Settings page.
[code]

[2016-03-15 15:06] billmeek opened #99 "Slow startup at initial installation or after force stop/clear cache"
Note the 13 second delay between the 9th and 10th lines below.
The user will see a white screen during that period. Swiping
right has no affect at this time. After that, the initial screen
displays normally and setup can continue.
[code]

[2016-03-15 15:14] dmfrey commented on #99
Has this happened before?  Was this on installation? Was it after you set
the backend url?

On Tue, Mar 15, 2016 at 11:06 AM billmeek <notifications@github.com> wrote:

[2016-03-15 15:32] billmeek commented on #99
It's fairly new. It only happens after force stop/clear cache or after
removing the app followed by a new download.

It happens before setting the backend IP.

I recall there was a commit that sent the user
to the Settings page if the backend IP wasn't set
but haven't found it.

[2016-03-15 15:55] dmfrey commented on #99
Sounds like it is a part of the installation process android uses with
multidex enabled (after looking at the stack trace posted). Unfortunately,
multidex is going to be a requirement going forward, I feel. The problem is
the static method count can't be greater than 65536 count. It is a known
issue on Android and has to do with how the dex processes the files into
final APK. I, personally, haven'

[2016-03-16 03:01] billmeek commented on #92
I added a Log message, just to make any errors stand out, and
(finally) caught some. This happened after a Force Stop/Clear
Cache. Maybe there were more of these in the last few days
and I just missed them because I was looking for a stack trace.

The modified code is this:
[code]
[code]

[2016-03-16 15:45] dmfrey commented on #92
maybe the cache for the images isn't large enough and older ones are getting purged while a process in another thread is trying to access them.  This is probably a concurrency issue.

[2016-03-17 03:43] billmeek opened #100 "IllegalStateException from Select Default Recording Group"
Go to Settings, Recording Settings, Enable Default Recording Group,
toggle it on, Select Default Recording Group and the following fires:
[code]

[2016-03-17 23:46] dmfrey commented on #100
I forgot about the recording groups. I am gonna have to do some work get that implemented. I am considering disabling this feature for now. I don't want to hold up release on it. Thoughts?

[2016-03-17 23:58] billmeek commented on #100
I agree, I'm thinking of a new endpoint that retrieves a list of
recgroups with passwords, e.g. Dvr/GetRecGroups that pulls
this:
[code]

Would that be of value to the app? It could allow Dvr/GetTitleInfoList etc.
to return only un-password protected groups unless a new parameter
was supplied like GroupPassword=hot.

[2016-03-18 00:07] dmfrey commented on #100
yes, i think so. otherwise, I need to determine it from the data downloaded.

On Thu, Mar 17, 2016 at 7:58 PM billmeek <notifications@github.com> wrote:

[2016-03-18 00:25] dmfrey commented on #92
With the NullPointerException now being caught, is it causing the app to crash? I see your messages in there for when it fires. What happens in the interface?

[2016-03-18 01:47] billmeek commented on #92
No, it doesn't crash \o/, I haven't notices missing images either. On
occasion, the 1st banner (60 Minutes) is blank and the last (which
has no inetref) inherits a much earlier banner. Can't duplicate this
at will either and refreshing the screen fixes both banners. If it
becomes an problem, I'll open a separate issue.

[2016-03-18 01:47] #92 closed

[2016-03-18 01:50] billmeek commented on #92
I keep forgetting about the auto-close on merge. There used to be a
note about that on the screen.

[2016-03-18 03:07] dmfrey commented on #92
It will show up. It is because this is in a branch. Once it merges back,
which I think we are good to do, they will all close.

On Thu, Mar 17, 2016, 9:50 PM billmeek <notifications@github.com> wrote:

[2016-03-18 13:08] #93 closed

[2016-03-18 13:08] #96 closed

[2016-03-18 13:08] #97 closed

[2016-03-18 13:08] #98 closed

[2016-03-18 13:08] #100 closed

[2016-03-20 13:16] dmfrey commented on #70
closes #70

This is fixed in version 2.0.0. It now uses the new GuidedStepFragment implementation which provides for better navigation and text entry for the settings.

[2016-03-20 13:16] #70 closed

[2016-03-20 13:19] dmfrey commented on #91
@brianjmurrell Please check again with version 2.0.0. Parsing and caching has been completely rewritten. Could you attach the JSON output of your video library so that I may implement a unit test in the app based on the new parsing?

[2016-03-20 13:21] dmfrey commented on #56
closes #56

this class no longer exists

[2016-03-20 13:21] #56 closed

[2016-03-20 13:24] dmfrey commented on #90
@SingingDwarf Can you install VLC for Android on your TV. Version 2.0.0 for Android TV plays content best with VLC for Android. You don't need to do any transcoding to HLS.  I will be pushing version 2.0.0 to the Google Play Store beta channel for the app shortly.

[2016-03-20 14:32] brianjmurrell commented on #91
On Sun, 2016-03-20 at 06:19 -0700, Daniel Frey wrote:

Is that in the Play Store yet?  My device is not seeing a Myth Player
update (yet).  Maybe it will just take a while to notice.

[2016-03-20 14:40] dmfrey commented on #91
Not yet. I am working on getting it out there.

On Sun, Mar 20, 2016 at 10:32 AM Brian J. Murrell <notifications@github.com>
wrote:

[2016-03-20 14:42] brianjmurrell commented on #91
OK.  Fair enough.  I will sit tight.

Cheers.

[2016-03-20 14:51] dmfrey commented on #91
In the meantime, can you export the json of your video library?  I will
setup a test case to attempt to parse it.

    curl -X GET -H 'Accept: application/json' "
http://your_backend_ip:6544/Video/GetVideoList" -o videos.json

Attach it here and I will setup a test case for it.  Also include any
stats, such as number of videos, etc.

On Sun, Mar 20, 2016 at 10:42 AM Brian J. Murrell <notifications

[2016-03-20 16:58] billmeek opened #102 "NoSuchMethodError"
4.4.2 Tablet:
[code]

[2016-03-20 18:50] #102 closed

[2016-03-20 19:26] billmeek opened #103 "Half height titles on 4.4.2 tablet"
In both the landscape and portrait modes, the titles are only
displaying the top half of the text.

@dmfrey, if you can point me to the place to change it, I'll experiment
and test with 4.4.2 and 6.0.1.

![halftitles](https://cloud.githubusercontent.com/assets/1831699/13906558/1668d75e-eea7-11e5-8fb3-2303878ef725.png)

[2016-03-20 20:35] dmfrey commented on #103
What really needs to happen is we need to create a layout for landscape
views on tablets. It is one of the recommendations in the play dev console
to make it more friendly for tablets.

For example, look at the Google play store on the tablet, then rotate it
and note the difference. The extra margin on the sides, etc.

On Sun, Mar 20, 2016, 3:26 PM billmeek <notifications@github.com> wrote:

[2016-03-20 20:53] SingingDwarf commented on #90
@dmfrey I would love to try this, but unfortunately I returned the Sony Bravia - just too many issues with the firmware, lack of advertised features and unresponsiveness.

[2016-03-21 02:51] dmfrey commented on #90
Closes #90

Thanks for the info. Gonna close this for now.

On Sun, Mar 20, 2016, 4:53 PM SingingDwarf <notifications@github.com> wrote:

[2016-03-21 21:15] brianjmurrell opened #104 "java.lang.NullPointerException: Attempt to invoke interface method 'java.lang.Object java.util.List.get(int)' on a null object reference"
Here's what's causing the player to crash as soon as opening it:

[myth.txt](https://github.com/MythTV-Clients/MythtvPlayerForAndroid/files/183113/myth.txt)

[2016-03-21 21:30] dmfrey commented on #104
Thanks. I will inspect it in the IDE and determine a cause.

On Mon, Mar 21, 2016 at 5:15 PM Brian J. Murrell <notifications@github.com>
wrote:

[2016-03-21 22:30] billmeek commented on #104
@brianjmurrell, please add the version of MythTV  the error occurs on. I don't see the
DisplayName key in the log, but maybe it's just truncated.

[2016-03-21 23:29] billmeek commented on #99
When installed from the Play Store, the slow startup doesn't occur.

[2016-03-22 01:40] dmfrey commented on #104
@billmeek Is this a difference in the output from v0.27 and v0.28 of the Dvr/GetEncoderList api?

[2016-03-22 01:55] billmeek commented on #104
Yes:
0.27
[code]

0.28
[code]

[2016-03-22 02:14] billmeek opened #105 "0.27 Watch Recordings "There was an application error""
This is the entire LogCat after pressing Watch Recordings:
[code]

[2016-03-22 02:22] #104 closed

[2016-03-22 02:24] dmfrey commented on #104
@billmeek can you think of any other v0.27 specific changes we need to address?  It should only affect the app if something is actually using it. There were some changes with Programs, but the app was never using them, same with recording schedules.

[2016-03-22 02:26] billmeek commented on #104
Just opened #105

[2016-03-22 03:25] #103 closed

[2016-03-22 03:28] dmfrey commented on #105
I'm not seeing this. Can you clear App data and try again?

[2016-03-22 03:50] billmeek commented on #105
Stopped/Cleared Cache/Data and downloaded with the last commit.
Got the same. I deleted all but one recording for both versions and did:
[code]
Hope you've got a JSON parser.

0.27
[code]
'''

0.28
[code]

[2016-03-22 03:50] billmeek commented on #105
RecordedId is new is 0.28

[2016-03-22 04:05] dmfrey commented on #105
I didn't think we were using it anywhere.

On Mon, Mar 21, 2016, 11:50 PM billmeek <notifications@github.com> wrote:

[2016-03-22 04:42] billmeek commented on #105
These are the 0.26 and 0.28 Dvr/GetRecordedList files
and the command below prints side-by-side diff (without
matching lines if you use the grep -v

I see this old issue: "CommFree": "0",                  | "CommFree": "false",
and "TransportId": "0",               | "ServiceId": "1",
[code]
[27.txt](https://github.com/MythTV-Clients/MythtvPlayerForAndroid/files/183493/27.txt)
[28.txt](https://git

[2016-03-22 16:31] billmeek commented on #105
I did this:
[code]
and LogCat says that the count is 0, yet I know the returned value is 1:
[code]

I think the 0.27 and 0.28 json are really different. Saving the output
4 comments above in files named 27 and 28, then doing this:

cat 27|json_pp >p27 and cat 28|json_pp >p28

and finally:

diff -w -W130 --left-column -y p27 p28|less

displays the differences.

[2016-03-22 16:46] billmeek commented on #105
Pastebin of the diff (without common lines): http://pastebin.com/Rcjxva4n
and with all lines: http://pastebin.com/gmcmtgXT

[2016-03-22 17:16] billmeek commented on #105
ChanNum exists in 0.28 but not in 0.27. I'm going through the diff
line by line now.

[2016-03-22 17:29] dmfrey commented on #105
Ha, they block pastebin here at work now :-)

On Tue, Mar 22, 2016 at 1:16 PM billmeek <notifications@github.com> wrote:

[2016-03-22 17:41] dmfrey commented on #105
Was there any equivalent to ChanNum in v0.27?

On Tue, Mar 22, 2016 at 1:28 PM Daniel Frey <dmfrey@gmail.com> wrote:

[2016-03-22 17:54] dmfrey commented on #105
Looks like channel number is only used on the details screen, but channelInfo should be present, this would just show an empty string on the screen. Shouldn't cause the app to crash.

[2016-03-22 17:56] billmeek commented on #105
Looks like the side-by-side diff isn't reliable. Found Count
and ChanNum in the actual data.

Not sure why my earlier LogCat said Count was 0. What is:

this.titleInfosCollection.size()

actually looking for?

[2016-03-22 17:57] billmeek commented on #105
And to be clear, the app doesn't crash, it just displays an
empty Watch Recordings screen.

[2016-03-22 18:25] billmeek commented on #105
OK, done looking. Cast:{}CastMembers[] is not in 0.27.
(and the diff is OK, I just missed the symbol for like lines)

[2016-03-22 18:28] dmfrey commented on #105
this.titleInfosCollection.size()

This is just for the adapter so it can acturately render the elements in the correct locations. But since the null check is being done, that shouldn't through and exception.

It sounds like that the cast section needs to be removed when it isn't there.  I can add that.

[2016-03-22 18:36] dmfrey commented on #105
I may need to connect to your v0.27 backend to try to determine what is causing this.

[2016-03-22 23:38] #105 closed

[2016-03-23 01:27] dmfrey commented on #99
This only seems to be an issue with a full build coming out of the IDE over ADB.  Closing for now.

[2016-03-23 01:27] #99 closed

[2016-03-23 01:27] #90 closed

[2016-03-23 01:31] dmfrey commented on #78
If a feature like this were to be implemented, I would think we would only want to allow it once the user has transcoded it down to mp4. Thoughts?

Also, I think we would want to avoid trying to get any handset to be responsible for playing mpeg2 content as well as filling up a user's device with raw mpeg2 or MKV Bluray rip.

[2016-03-23 02:37] dmfrey commented on #77
Found a library to provide fast scrolling, however, it can only be on the list views, not grid views, such as the video screens.  This is start, though.

[2016-03-23 02:37] #77 closed

[2016-03-23 03:20] dmfrey commented on #91
Please test again once you see version 2.0.2 push down to your device.

[2016-03-23 13:21] brianjmurrell commented on #104
2.0.2 does fix this issue, thanks!

[2016-03-23 15:16] dmfrey commented on #91
@brianjmurrell Are all your videos now showing with version 2.0.2?

[2016-03-23 18:15] dmfrey opened #106 "Implement Google Cast Support"
Work Branch:
https://github.com/MythTV-Clients/MythtvPlayerForAndroid/tree/feature/issue_106_implement_google_cast

[2016-03-24 00:48] dmfrey opened #107 "Add selectAllOnFocus to text fields"
Recommended on G+

[2016-03-24 02:49] dmfrey opened #108 "Loading Videos from cache periodically causes App Crash after cache expired"
Branch: https://github.com/MythTV-Clients/MythtvPlayerForAndroid/tree/bugfix/issue_108_fix_load_from_cache

[code]

[2016-03-25 07:28] netwolfuk commented on #106
I presume you are referring to being able to control a ChromeCast from MPFA?

What sort of receiver did you envisage needing to build? Looking this [this video](https://www.youtube.com/watch?v=clhnfUMuhN8), there are three types. The StyledReceiver seems like the best fit to me, but the CustomReceiver gets special mention with regards to HLS.

I don't know anything about HLS other than I see a but

[2016-03-26 02:41] dmfrey commented on #106
@netwolfuk Yes, the goal is to be able to present MythTV backend recordings and videos on Chromecast. I have committed what I have so far. You can select a local Chromecast device and disconnect from it at this point. Still no playback as of yet.

This should work with HLS transcoded recordings, mp4 and MKV files, according to the Supported Media Playback options.

I already have a Styled Media Re

[2016-03-26 04:00] netwolfuk commented on #106
Cool! You're further ahead than I thought already. I'll dig out the serial numbers when I get a chance to sit down at the computer.

I see your latest commit has broken the build on my build server. What do I need to do to install Google play services cast support?

[2016-03-26 05:36] dmfrey commented on #106
You should just need to update the Gradle dependencies. Can you post a
stack trace?

On Sat, Mar 26, 2016, 12:00 AM netwolfuk <notifications@github.com> wrote:

[2016-03-26 05:54] netwolfuk commented on #106
Sorry. Gradle noob here. This is the message in TeamCity.

[16:41:25][Step 3/3] ##teamcity[buildProblem identity='-518009078' description='org.gradle.internal.resolve.ModuleVersionNotFoundException: Could not find com.google.android.gms:play-services-cast:8.4.0.|nSearched in the following locations:|n    https://jcenter.bintray.com/com/google/android/gms/play-services-cast/8.4.0/play-services-cast

[2016-03-26 06:40] netwolfuk commented on #106
Sorry. I'm a numpty. Google Repository was not installed on the build agent. Build is succeeding now.

[2016-03-26 11:05] netwolfuk commented on #106
I can't figure out how to get the Chromecast developer page to see my BluRay player, so I only have the genuine Chromecast one for now: 3819101ZJJL5

[2016-03-26 11:35] netwolfuk commented on #106
FYI, I have build your branch and installed it on my Nexus 4. I can't see a way to navigate to the AppCastPlayerActivity though. It does not appear in the menu on the left, or up by the seach icon.
I'll assume my Chromecast must be registered against your AppID for it to be available.

[2016-03-26 11:52] dmfrey commented on #106
I need to add you serial number to my Google cast dev console. I will take
care of that in a few. Once I do, I will let you know. Then you have to
restart your Chromecast. It may take a few hours before it will see that it
can be used as a developer device. This is Google's docs that describe this.

The AppCastPlayerActivity is going to get called from the recording or
video details screens, only

[2016-03-26 12:41] dmfrey commented on #106
@netwolfuk Your Chromecast has been added to the dev console. Reboot it. I will check back in a bit to see that it accepted the registration.  From my end it will say 'Ready for Testing' on the console.

[2016-03-26 14:00] dmfrey commented on #106
@netwolfuk shoot me an email address and I can add you to the slack channel

On Sat, Mar 26, 2016, 7:52 AM Daniel Frey <dmfrey@gmail.com> wrote:

[2016-03-26 19:48] netwolfuk commented on #106
Yey. The icon has appeared. My Chromecast must've registered. Thanks!

[2016-03-26 19:48] netwolfuk commented on #106
The email I use for slack is netwolfuk+slack at Gmail. I use the +slack to filter stuff in Gmail.

[2016-03-26 20:12] dmfrey commented on #106
Yup, ready for testing. :-)

[2016-03-26 20:22] dmfrey opened #109 "Replace all PNG files with SVG equivalents"
Android Studio will now generate PNG files from the SVG resources for lower Android versions. It will use the SVG resources for all newer versions of Android

More information can be found here: http://android-developers.blogspot.com/2015/09/android-studio-14.html

[2016-03-27 16:42] dmfrey opened #110 "Move all projects to OpenJDK 8"
In the latest canary builds, OpenJDK 8 is supported. It needs to be enabled in build.gradle.

Consider bigger picture, remove rxJava, use straight Java 8 Lambda Expressions.

https://developer.android.com/preview/j8-jack.html

Further research is required.

[2016-03-27 17:17] dmfrey commented on #108
@billmeek Use the branch in this issue and see if you can reproduce the bug where loading videos fail, usually after cache has expired, every other day or so

[2016-03-28 13:33] billmeek commented on #108
Worked fine this morning. I switched back to develop and will
watch for it tomorrow.

[2016-03-29 02:18] billmeek commented on #108
@dmfrey, just got another one:

Branch: develop, Tag: mythtv-player-2.0.1-dirty, Commit: 9e1805c

I have the full stack if needed.
[code]

[2016-03-31 00:22] dmfrey commented on #108
@billmeek can you post the full stacktrace here?

[2016-03-31 00:27] billmeek commented on #108
To be clear, this was a regression test and was back on
the develop branch, so the fix above wasn't included.
[code]

[2016-03-31 00:35] dmfrey commented on #108
Ok, this is what I figured. It is the same issue that was fixed in the
branch.

On Wed, Mar 30, 2016 at 8:27 PM billmeek <notifications@github.com> wrote:

[2016-03-31 01:30] dmfrey commented on #107
This attribute is already set. Something in the library doesn't appear to be working.

[2016-03-31 03:49] netwolfuk commented on #91
I am seeing the same for recordings (a much larger list is available in MythTV Android Frontend than in MythTV Player). How do I clear the cache?
I am running a build of b445b51 against Myth 0.27
I can email you a download. What curl command will get me the json file?

[2016-03-31 18:34] billmeek opened #111 "Allow IPv6 configuration and use"
MythTV and Android (at least my 4.0.4 and above) support IPv6.

Note that when testing from a browser, the address is enclosed
in brackets, e.g. [fdf9:56:789:1::200]:6544. I have never been
able to use Link Local addresses with MythTV, but Unique Local
Addresses (ULA) like the above do work.

There is some existing code in AppSettingsFragment.java that
looks like a sanity check on an IPv6 address.

[2016-03-31 19:27] billmeek opened #112 "Allow the display and marking of episodes as watched (or unwatched)"
0.28 provides a new endpoint: Dvr/UpdateRecordedWatchedStatus. The
parameters are RecordedId (or ChanId and StartTime) plus a Watched
bool. This does not exist in 0.27 currently, but appears to be possible
with the exception of the RecordedId parameter. It's sent as a POST,
as expected.

In order to get the existing status of an episode, the ProgramFlags
key in Dvr/GetRecordedList is available, bu

[2016-04-01 01:58] dmfrey commented on #111
@billmeek I have been looking at the code. Since this is only ever stored as text in the preferences, and we are using OkHTTP3 (which supports ipv6), we may be ok here. Please give it a try as is and post any issues, stacktraces, etc. to this issue.

[2016-04-01 02:06] dmfrey commented on #112
@billmeek A couple of questions:
1. How do you envision displaying the watched status?
2. Should updating the watched status be handled by a button, or should this be handled on playback? If its playback, should it be when it starts? When playback ends?

[2016-04-01 02:17] billmeek commented on #112
@dmfrey, I'd suggest text or an icon right of the title and above the channel.
But somewhere on a per episode basis.

I'd also suggest toggling the status with a button, as opposed to trying to make
it automatic.

[2016-04-01 02:22] billmeek commented on #111
@dmfrey, I have already tried to enter my backend's IPv6 address and
it isn't accepted. The IPv4 address just reappears. I also tried uncommenting
the IPv6 portion in class TvSettingsFragment but noted that the class
isn't used (per Android Studio.) I did that in AppSettingsFragment.java.

I'll see if I can hard code it somewhere just as a proof of concept.

[2016-04-01 02:35] dmfrey commented on #111
Look in the preferences.xml and replace the string.xml value of the
pref_backend_url.
Be sure to wipe your data after you deploy this version so the default
value gets taken the next time you open it.

On Thu, Mar 31, 2016 at 10:22 PM billmeek <notifications@github.com> wrote:

[2016-04-01 02:49] dmfrey commented on #111
Ah, its AppSettingsFragment.java. That is where it checks for ipv4 and the
ipv6 is commented out.

On Thu, Mar 31, 2016 at 10:35 PM Daniel Frey <dmfrey@gmail.com> wrote:

[2016-04-01 05:02] billmeek commented on #111
Got it working, thanks for the AppSettingsFragment.java tip.
[code]
In buildsystem/dependencies.gradle, set okHttpVersion = '3.2.0'
(from 3.0.1.) because I was getting unknown host exceptions.

Note the []s around the IPv6 address. Consistent with other uses of these
addresses as the hex a-f can be confused with a host name and the colons
conflict with :6544 (or any other port.)

[2016-04-01 12:35] dmfrey commented on #111
It looks like we can use the static methods of the InetAddress class to handle validating the addresses, both ipv4 and ipv6.

https://developer.android.com/reference/java/net/InetAddress.html

[2016-04-01 13:57] dmfrey commented on #111
just thinking, maybe once you pass validation, we should maybe call the backend and store the myth backend version in the SharedPreferences. This would only get updated when you save settings.

[2016-04-01 18:52] dmfrey commented on #112
@billmeek Is ProgramFlags comma separated? I assume it contains multiple flags, correct?  Are there any other we should consider displaying?

For display, I think we could hover these over the header image on the episode screen, along either the right or left side (or possibly both should there be many that need to be displayed)

[2016-04-01 18:56] billmeek commented on #112
No, it's returned as a decimal value and watched is in bit 9
(as in 0-9 counting from the right.) Here's the hex from the
MythTV code: FL_WATCHED = 0x00000200. There's more
detail in the initial post of this issue if you like.

[2016-04-01 20:30] dmfrey commented on #112
I am missing something here. I don't believe this will translate to a Java Decimal, resulting in the hex code.

[2016-04-01 20:37] billmeek commented on #112
Does this make sense?
[code]

[2016-04-01 20:40] billmeek commented on #112
Maybe == 1 should just be > 0

[2016-04-01 20:42] dmfrey commented on #112
ah, ok, I will play with that. I misunderstood.

On Fri, Apr 1, 2016 at 4:40 PM billmeek <notifications@github.com> wrote:

[2016-04-02 20:38] billmeek commented on #111
@dmfrey, just pushed a working version that handles hostnames as well
as IPv6 addresses. It's not for prime time because if messes with the
strict mode. Is there a way to move this outside of the main thread?

As written, the settings page hangs while the hostname is being resolved.
[code]
~

[2016-04-02 22:17] dmfrey commented on #112
@billmeek Give this a shot. Something is not right with the calculation. I'm still missing something. It always results to true.

[2016-04-03 03:49] billmeek commented on #112
@dmfrey, true because I meant to say (ProgramFlags & 0x2000) > 0,
not |. Works good. Looks good too.

[2016-04-03 04:12] billmeek commented on #112
Note that if the preview image for an episode is mostly
white in the area of the eye, it can't be seen.

[2016-04-03 22:47] SingingDwarf opened #113 "SocketTimeout prevents programme information from loading"
_Upcoming_ and _Encoders_ both display the correct information but _Recent_, _Watch Recordings_ and _Watch Videos_ all result in the message "Can't connect to mythbackend".

It transpires that the Recordings table contains a number (>340) entries with an empty inetref entry.

GetRecordedList attached.

There are no errors reported in mythbackend.log

I'm running MythTV 0.27.6+fixes.20160 and MythT

[2016-04-03 23:09] dmfrey commented on #111
@billmeek I am thinking we go back to regular expressions. No need for this to actually go out and check the address on the network. If you try to set this up and the address is unreachable (i.e. not on wifi, or on another network, it may throw inadvertent error messages. This way, we just validate the formats of all and the existing SnackBars let the user know if there is an error connecting.

[2016-04-03 23:15] billmeek commented on #111
Tend to agree (with the REs.) But then allow hostnames too. I've got
bind9 set up on one of my hosts and it's resolving names. So we need
to allow that to.

[2016-04-03 23:39] billmeek commented on #113
Hi, I know I've only tested with a mere 200+ recordings, not: 5287
or 12168589 characters. I do have a few recordings without inetrefs
just for testing and they load A-OK.

@SingingDwarf:
Are you looking at LogCat or something else that tells you that the
empty inetrefs are the cause of the "Can't connect to mythbackend"
messages?

@dmfrey I see that GetRecordedList is called at startup and then
i

[2016-04-04 00:02] dmfrey commented on #113
@billmeek, the first one calls it with a limit of 10 and in descending
order, much like the status page does on mythweb. Plus, this isn't cached.

@SingingDwarf I was also going to recommend you hook up to ADB if you can
to get a snapshot of the logs.  I have a unit test looking for the data we
use on the screens and it is parsing ok. I will commit it to the branch,
but it does require a hard path

[2016-04-04 00:03] billmeek commented on #111
I see, the hostname is already cared for. Just need to add
^\\[ and \\]$ at the ends of the IPv6 RE. Plus the okHttpVersion
3.2.0 and we're good to go.

[2016-04-04 00:15] billmeek commented on #113
@dmfrey, 10 would make sense, but Wireshark says
that both calls are the same:
[code]
Both are set  up with count=-1 in LogCat. Let me see if I can change -1 to10 somewhere.

[2016-04-04 00:32] dmfrey commented on #113
it is getting the whole list. I can correct this. DvrDataRepository.recent()

On Sun, Apr 3, 2016 at 8:15 PM billmeek <notifications@github.com> wrote:

[2016-04-04 00:39] dmfrey commented on #111
sounds good. if you are adding it already, feel free to do a PR for the
change.

On Sun, Apr 3, 2016 at 8:03 PM billmeek <notifications@github.com> wrote:

[2016-04-04 09:14] SingingDwarf commented on #113
@billmeek No - it wassuggested by @dmfrey

I'm off on holiday today for the week, but I'll try and grab some logs when I get back.

[2016-04-05 16:46] dmfrey commented on #112
Let me see if I can put a border on it, maybe make the background black or one of our colors.

[2016-04-05 16:49] dmfrey commented on #112
@billmeek for your comment:

    true because I meant to say (ProgramFlags & 0x2000) > 0,
    not |. Works good. Looks good too.

Did you fix the code? If so, I don't see a commit for it.

Is the eye graphic switching on/off correctly in your version?

[2016-04-05 17:29] billmeek commented on #112
Hi, I did commit on branch feature/issue_112_mark_watched
[code]

The eye tracked the value of watched on the backend. I
didn't test to see if it changes dynamically if a mythfrontend
uses changes it. Pressing the eye to call UpdateRecordedWatchedStatus
isn't added yet,as far as I can tell, so I didn't try that.

[2016-04-05 17:37] dmfrey commented on #112
Right, that isn't implemented yet. I was more interested in if the data turns it on/off. Will work on the web service next.

[2016-04-05 23:53] dmfrey commented on #111
@billmeek I still don't see your commit message. Are you sure you pushed it back to the repo?  Look through this issue, do you see the commit?

[2016-04-06 00:01] dmfrey commented on #111
@billmeek nevermind. I see them when i go look at the commit messages for the branch.  Actually, I know what is going on, you didn't include the issue number in the commit message. When committing, put the issue number on the first line like 'issue #112'. Then do a new line. After that, any commit messages. That will target them to the issue where the work is being done.  You can also replace 'iss

[2016-04-06 00:54] billmeek commented on #112
Just pushing a 0.28 patch to let UpdateRecordedWatchedStatus
return false if the RecordId or ChanId/StartTime don't find a
matching recording.

I've got a patch tested to add the endpoint to 0.27 in MythTV too.
Having trouble with it's cousin UpdataVideoWatchedStatus
though.

[2016-04-06 01:29] billmeek commented on #112
The new eye display works well on dark and even white
images.

[2016-04-06 01:45] dmfrey commented on #112
cool, if the display is working just with the data alone, now we can turn
it into a toggle and call the web service to initiate this from within the
app

On Tue, Apr 5, 2016 at 9:29 PM billmeek <notifications@github.com> wrote:

[2016-04-06 16:59] #108 closed

[2016-04-06 17:00] brianjmurrell opened #115 "Determine what requires API level 17"
Per the G+ conversation, it would be interesting to determine what is causing the requirement for API level 17 and if whatever that is can be worked around easily enough so as to be able to support Android versions < 4.2.

[2016-04-06 17:06] dmfrey commented on #115
I don't recall the exact reason, however, it is probably related to items
in the Android Support Compatibility libraries that weren't up to date with
their counterparts in the API 21+.  However, an investigation will be
performed to see if we can backport it to API 16.

On Wed, Apr 6, 2016 at 1:00 PM Brian J. Murrell <notifications@github.com>
wrote:

[2016-04-06 19:02] billmeek commented on #111
@dmfrey please merge the 111 branch for me. When I merge and then
push, I get:
[code]

[2016-04-06 19:33] dmfrey commented on #111
do a git pull before you attempt to push. that should clear it up for you.

On Wed, Apr 6, 2016 at 3:02 PM billmeek <notifications@github.com> wrote:

[2016-04-06 19:36] dmfrey commented on #115
Initial review. The Android Leanback Libraries, required for Android TV, are preventing me from going back to Android SDK 14 (Ice Cream Sandwich). I will keep looking to see if there is any other way to configure the Android Manifest to allow the app to go back to 14.

[2016-04-06 20:10] billmeek commented on #111
Stopped Android Studio and resorted to the command line. I had
already done a pull while on the develop branch.

I checked out the 106 and 112 branches and got them up to date.

Now I get the following two errors:
[code]
I looked at the settings, but didn't spot anything I'd want to mess up.

[2016-04-06 20:20] dmfrey commented on #111
Right. Can't push directly to develop. Create a branch, commit them there.
Then do a pull request. It will run through travis-ci first automatically
to make sure the existing tests aren't broke, etc.

On Wed, Apr 6, 2016, 4:10 PM billmeek <notifications@github.com> wrote:

[2016-04-06 21:05] #111 closed

[2016-04-07 12:57] dmfrey opened #117 "Fix JaCoCo coverage so coveralls.io reports coverage for all subprojects"
coveralls.io is not currently reporting across all subprojects. Only the data subproject is being reported.

https://coveralls.io/github/MythTV-Clients/MythtvPlayerForAndroid

A Gradle fix is all that is required.

[2016-04-07 16:41] billmeek commented on #112
@dmfrey, FYI, the Dvr/UpdateRecordedWatchedStatus and Video/UpdateVideoWatchedStatus
now exist in 0.27 (assuming folks do daily builds.) In both 0.27 and 0.28, the return is true if the
status was changed and false if the recording/video doesn't exist. A 501 is returned for Recorded
input that is invalid (ChanId, StartTime and in 0.28 RecordedId.) A 404 Error will be returned if
the endpoint doesn

[2016-04-07 16:50] dmfrey commented on #112
@billmeek, I have an initial implementation. I haven't got to test it yet,
however. I am gonna have to really inspect the values before I refactor
this to the current clean model.

What exactly does setting the watched flag do to the recording on the
backend? I don't use it.

On Thu, Apr 7, 2016 at 12:41 PM billmeek <notifications@github.com> wrote:

[2016-04-07 18:19] billmeek commented on #112
If set, watched recordings are expired before unwatched ones. There is
an option "Watched before unwatched" that controls this and it is set to
false by default. They also don't appear in the MythTV Watch List.

Here's a preview using my test program:
[code]

[2016-04-08 01:47] dmfrey commented on #113
@SingingDwarf  I added some tests to try to reproduce your error and no luck. Next step would be to get an adb log from your system.

[2016-04-09 00:40] billmeek commented on #112
Nice. When an app user toggles the Watched flag while in the
MythTV Watch Recordings screen for the affected recording, the
eye changes state. I won't test a lot while this is in progress,
but it's looking good.

[2016-04-09 13:40] dmfrey commented on #112
@billmeek, what would the process be to update this flag locally. Are the
program flags a combination of those values, is that correct?

On Fri, Apr 8, 2016, 8:40 PM billmeek <notifications@github.com> wrote:

[2016-04-09 15:11] billmeek commented on #112
@dmfrey, I was thinking that somewhere after this
successfully completed:
[code]
the app's copy of the programFlags would be changed. If the app turned Watched off,
then programFlags &= ~0x200 and if Watched was turned on, programFlags |= 0x200.
Maybe just toggling the previous value with an exclusive or would work, like
programFlags ^= 0x200.

If you can tell me where to put the logic, I'll test

[2016-04-09 19:44] dmfrey commented on #112
i'm working on moving all this to the data layer. This might not be issue,
as I am planning on invalidating the local cache upon a true returned, and
refreshing the recordings, so that we will always have the freshest data.

On Sat, Apr 9, 2016 at 11:11 AM billmeek <notifications@github.com> wrote:

[2016-04-10 11:59] SargeKhan commented on #94
Turning instant run off didn't resolve the issue for me, using gradle 2.0.0

[2016-04-11 16:41] dmfrey commented on #94
Make sure you are using the up to date version of Android Studio. @billmeek
and I are both using the Canary channel.  Then rebuild the app. You should
be good after that.

On Sun, Apr 10, 2016 at 7:59 AM SargeKhan <notifications@github.com> wrote:

[2016-04-11 20:29] SingingDwarf commented on #113
Apologies for the delay, I have been away on hols.

I have uploaded a log file [here](http://4gp.me/ba3s/1460406191877.txt) - which shows Mythtv Player loading, the Recent screen failing to load, the Encoders and then Upcoming screens working correctly - followed by the Recent screen failing to load again.

[2016-04-11 20:32] SingingDwarf commented on #113
I have also uploaded a [second log](http://m.uploadedit.com/ba3s/146040661798.log), which shows the (already open) Mythtv Player attempting to show the Watch Recordings screen which again fails.

[2016-04-11 21:53] billmeek commented on #112
@dmfrey, if it's of interest, a new Get and Set SavedBookmark was just
contributed by a user and should make it into 0.28.1. Not sure if that is
important to your switch to the data layer.

[2016-04-12 22:55] #112 closed

[2016-04-13 01:12] #109 closed

[2016-04-14 00:45] dmfrey commented on #115
@brianjmurrell I was able to get this working.

https://stackoverflow.com/questions/36587022/added-android-tv-to-existing-app-now-can-only-support-back-to-android-sdk-17

@billmeek I had to separate out the Android TV code from the Android App code.  There is now an :app and :tv subproject. The MVP code remains in the :presentation subproject. I will commit this shortly. Do you have a device still

[2016-04-14 00:58] billmeek commented on #115
No 17, I've got: ICS/4.0.4/15, JB/4.4.2/19 and MM/6.0.1/23

[2016-04-14 01:10] billmeek commented on #115
Ah, change the minSdkVersion to 14 in the app build.gradle for dev{}

[code]

[2016-04-14 01:16] dmfrey commented on #115
@billmeek, we just need something that is 14, 15, or 16. We know that 17+
is good.

On Wed, Apr 13, 2016, 9:10 PM billmeek <notifications@github.com> wrote:

[2016-04-14 02:05] billmeek commented on #115
@dmfrey, sorry, had to go out for a bit. Just downloading the app
a 2nd time worked. Up and running on 15.

On VLC playback of a 1080i recording, I get a frozen picture and
normal audio. With MPEG-2, it's A-OK. Both shows have the same
AC-3 and 5.1 audio.

[2016-04-14 12:16] dmfrey commented on #115
@billmeek I am not sure that we can do anything about VLC playback. We are at least providing the capability for users with older devices. I tried it on an emulator and an old 4.4.2 phone and seems to be working ok.

Did HLS playback OK on that device?

If no other issues, I will do a PR and merge it into develop.

[2016-04-14 14:09] billmeek commented on #115
@dmfrey, HLS  playback works, including skipping around. Only
tried on HD. I put the tablet away last night and when I turned
it on, there was an Unfortunately... message from this app. Also,
last night, I watched a Video and it played fine. But when it got
to the end, the tablet froze. I was eventually able to power down.
Not connected to Android Studio, so no LogCat on either.

I'd suggest holdi

[2016-04-14 15:55] dmfrey opened #120 "Create Button on Details similar to Watched Status to manage HLS"
Add a button to the Details header to manage starting/removing HLS transcode jobs. This will replace the toggle button to queue HLS and Play the stream.

[2016-04-14 15:56] dmfrey opened #121 "Add Details Header FAB to initiate playback"
This will remove the HLS Queue/Play button from the bottom of the Details screens.

[2016-04-14 16:19] billmeek commented on #121
@dmfrey, along with #120, would you consider removing the
Internal/External player choices in Settings and allow the new
"starting/removing HLS transcode jobs" choices to also include
to "play external"? Just a thought. Hmmm, could also eliminate
the need for settings on the detail page (although users may
want to change the transcoding parameters.)

[2016-04-14 16:49] dmfrey commented on #121
So remove the Settings and pop a dialog that asks to play internal or
external when play is clicked?

Will probably leave the settings so that they can change the HLS settings.

On Thu, Apr 14, 2016 at 12:19 PM billmeek <notifications@github.com> wrote:

[2016-04-14 21:03] billmeek commented on #121
Yes, I was thinking that folks would choose External or Queue HLS
as each recording/video was played. I agree with keeping
the HLS settings (that's what I was trying to refer to with "transcoding
parameters".)

If I understand your intent, then I'm suggesting the user would see *like*:
[code]

[2016-04-14 21:07] dmfrey commented on #121
Not quite. There will be a button, like update watched status to handle
add/remove hls stream. Play will just play whatever is available, but give
choice to play internal or external player.

On Thu, Apr 14, 2016, 5:04 PM billmeek <notifications@github.com> wrote:

[2016-04-14 21:42] billmeek commented on #121
Got it/like it. I'm a bit concerned if there isn't a
'do you really want to do this' option when the
remove hsl stream is done.

But, your design intent is to make it a toggle (as you
wrote in 120.)

[2016-04-14 22:59] netwolfuk commented on #121
By external player, do you mean VLC on Android device, or ChromeCast?

[2016-04-14 23:16] billmeek commented on #121
@netwolfuk, yes, VLC or other players.

[2016-04-17 15:12] dmfrey commented on #112
@billmeek, what flag is there for videos in the data that indicates watched
or not?

On Mon, Apr 11, 2016 at 5:53 PM billmeek <notifications@github.com> wrote:

[2016-04-17 16:56] billmeek commented on #112
This one is easier, I think. From Video/GetVideo?Id=123:
[code]

[2016-04-19 01:00] dmfrey commented on #120
@billmeek Take a look at this so far. I am planning on implementing #121 with this branch.

[2016-04-19 02:25] billmeek commented on #120
@dmfrey, it's transcoding now, very busy BE tonight. 'PLAY' at the bottom
does nothing and I assume that's what you want. There's a 'overflow accessibility'
message that flashes when the Details screen is first entered and then it changes
to the normal title.

I don't want to press the sideways pause button while it's transcoding because I
don't know if it will start a 2nd transcode.

It'll be a w

[2016-04-19 03:14] dmfrey commented on #120
Correct, play is, essentially, disabled.

The sideways pause is actually the streaming icon in the material design
icon github project. It won't start another, rather remove the stream, like
a toggle on/off for streaming.
I have no idea what the overflow accessiblity message is. Any way to
capture a screenshot or recording? I have not seen that.

On Mon, Apr 18, 2016, 10:25 PM billmeek <notificati

[2016-04-19 03:45] billmeek commented on #120
Just lost a recording drive on my backend, which is where
the streaming was going. Oh well. Hope this helps, I can't
get a screen shot because it's only there for under a second.
It's at the top left of the Details screen and gets replaced by
the program Title (upper left-hand corner.)
[code]

[2016-04-19 12:37] dmfrey commented on #120
@billmeek thanks for that. I don't even recall every putting that string attribute in there.

Did you drive just die? Any warning?

[2016-04-19 13:02] dmfrey commented on #120
@billmeek try this when you can. i removed some of those old holo themes in there now that AppCompat is used by default throughout

[2016-04-19 15:38] billmeek commented on #120
@dmfrey, non a peep from smartd 'til it went belly up, then I got
4 emails telling me that it's tests weren't able to be run.

That got rid of the overflow message. And pressing the streaming icon
did remove the transcoded metadata (not the file since the disk is sitting
on my desk right now, which is an interesting test.)

[2016-04-19 16:04] dmfrey commented on #120
@billmeek so it just updates the metadata. That's ok. from the app standpoint, I think we can only be concerned about the data, not the physical files on the backend.

I am surprised I never saw that message before.

Do you think we need any Confirmation Dialog boxes to:
1. Initiate an HLS Stream
2. Remove an HLS Stream

What about updated messages for the Snackbar? For some reason, while in this

[2016-04-19 16:37] billmeek commented on #120
DeleteRecording would remove the file, it just isn't there in this odd case.

Yes, I'd really suggest some more information. Both 1 and 2 above because
we don't want to start a transcode or remove the results of one unintentionally.

The Snackbars are great, but I frequently miss what they say because I'm not
looking. E.g. I'll start the app and miss the Snackbar telling me that it can't get
to th

[2016-04-19 17:01] dmfrey commented on #120
You can't inadvertently start or stop them.

1. When program/video is loaded, it queries the backend for any Livestream info
2. If found, it updates the display, turning the stream icon to available and a snackbar pops up that a stream is available
 - if not found, the icon stays as is
3. If you click the icon, and there is not stream data, it first checks the backend in case one was created, then

[2016-04-19 18:36] billmeek commented on #120
1-4 are working exactly as you describe above. I see the icon difference now, but I'd
say that the (almost) white vs. grey isn't enough to tell a user
the state of the recording (but I did watch for and see the Snackbar that told me "Stream
processing complete!". Just a learning curve issue.

Would it be 'legal' to use different colors in the streaming icon like black and
white or red and green?

[2016-04-19 18:43] dmfrey commented on #120
sure, we can use different colors. But will probably keep them to one of the material primary, primary dark or accent colors, just to be consistent.

i will see about the best way of adding the dialog box.

The play button is going to be completely different, as a Floating Action Button in the header, not longer at the bottom of the page. It will play the live stream, if available, or fall back to

[2016-04-23 00:51] dmfrey commented on #115
@billmeek are we good to merge this in?

[2016-04-23 00:52] dmfrey commented on #121
@billmeek what do you think of the FAB for playback? any issues switching between HLS and external player?  I still need to remove the separate preferences

[2016-04-23 00:54] dmfrey commented on #120
@billmeek I switched these to toggle switches. let me know what you think.

[2016-04-23 01:25] billmeek commented on #120
I think the toggles are much better. On my 7" tables (and my
finger size) they're too close together though.

Watched doesn't do anything (I don't see any message sent
in LogCat.) The watched column naturally doesn't change in
the MythTV DB.

The HTTP Live Stream would be even better if the text changed
to reflect its state. Or, perhaps 2 buttons Queue HTTP Live Stream
and Delete HTTP Live Stream.

[2016-04-23 01:27] billmeek commented on #115
Yes, go for it. I haven't seen the Unfortunately message for
over a week. And I've been going to the Recordings screen
every day.

[2016-04-23 01:35] billmeek commented on #121
FAB is great. I should have answered this issue 1st tonight.

If HLS is off, then FAB = use external player
If HLS is on and the stream is available, then FAB = internal player and
then turning HLS off = delete live stream.

I still think there needs to be a 'we really mean it' of some sort
before deleting the stream.

[2016-04-23 14:20] dmfrey commented on #115
cool, i will do a PR for this.

[2016-04-23 14:23] dmfrey commented on #121
@billmeek yes, that is mostly correct. If you specified the Internal player in the settings and hls is available it will use the internal player. If it is set to external, and hls is available, then it will go to external player. that is the one caveat.

How does the internal player work for you? I notice some interlacing going on. VLC is much smoother.

[2016-04-23 14:26] dmfrey commented on #120
@billmeek I will add some space in between them.

Watched doesn't work? It does for me. I get a snackbar indicating the watched status was updated, either turning it on or off.

I am still working on a confirmation dialog for the deleting stream. I guess should add one for adding too.

Did you notice the progress bar when it is transcoding?  It starts out red, meaning its not ready to play, then w

[2016-04-23 17:05] billmeek commented on #120
Watched works this morning. No snackbar last night either.

I agree with the add/delete confirmations. It just takes so much
time/resource to create it on the BE (and be sorry if deleted by
mistake.)

I did spot the  progress bar color changes.

The padding around HLS and Watched helps a lot, thanks.

Maybe a final suggestion about the HLS text. The new version is
much better. How about using the

[2016-04-23 17:09] billmeek commented on #121
I haven't spotted a difference. Maybe I need to record
a sporting event or something with quicker movement.

[2016-04-23 17:15] billmeek commented on #120
Note that if HLS is complete and Watched is toggled,
then the Watched snackbar will be overwritten by the
"Live stream complete!" snackbar. The timing seems
random such that sometimes the Watched SB isn't
even seen. For me, the ideal case would be to only
display the Watched SB if that button was pressed.

[2016-04-24 20:18] billmeek opened #122 "Some text overlaps pictures or other text in 4.0.4"
This happens in Watch Recordings on the Episode screen and the
Detail screen below it. Same for Video Details and Home screen
RECENT tab.

Branch feature/issue_115_lower_api_restriction was fine.

[2016-04-24 20:28] billmeek commented on #122
The above is on feature/issue_120_hls_button, mythtv-player-2.0.1-36-gba7418f

Tested on the wrong branch. Closed.

[2016-04-24 21:26] IzzySoft opened #123 "Attach APK to release?"
Would you mind attaching the `.apk` files to the `releases/` here at Github, so folks without GPlay access can get them? No need for "historical versions", but if you could attach it for the latest and then for future versions it would be great. Thanks in advance!

[2016-04-25 12:16] dmfrey commented on #123
I don't believe I can add the apk directly to the releases here as it just tags the repository with the version number. If you are aware of ways to do this, let me know and I will update our processes.

In the meantime, I have been putting the releases in dropbox. I will share the link to the repo and update the G+ community as well.

https://www.dropbox.com/sh/nhvpepzx6gcvlyc/AAAthel65MO4elPN5ijj

[2016-04-25 12:43] #123 closed

[2016-04-25 14:46] IzzySoft commented on #123
It's pretty easy to do that. Steps are [outlined here](https://help.github.com/articles/creating-releases/). While tags are created on the `releases/` page automatically when you push them, you can convert a tag to a release (when creating a release, as described by the linked page, it lets you pick the corresponding tag) and simply attach additional files to it. Optionally, you can even include a

[2016-04-25 15:27] dmfrey commented on #123
but it has to have a built APK. This occurs in a separate process. Am I
missing something? Git releases just tag the repo. If I created a release
in Github, doesn't it just create a zip of the repository?

On Mon, Apr 25, 2016 at 10:46 AM Izzy <notifications@github.com> wrote:

[2016-04-25 15:47] billmeek commented on #110
@dmfrey, FYI with Ubuntu 16.04 the following warning pops up
in Android Studio when it's started:
[code]
I haven't seen any negative affects and the warning can be turned off. Never
saw the warning in Ubuntu 15.10 (and thought I was using Oracle JDK and still
have it installed.)

[2016-04-25 16:34] dmfrey commented on #110
This is kind of just a placeholder for now. work is being done with the
android tools, etc to be able to implement this. It is supposed to allow
them to adopt the Java 8 Lambda Expressions and such much quicker. There
are some impressive improvements slated for Java 9 as well. The app as it
is today, doesn't really support this. I have, however, started a
standalone java project that aims to remov

[2016-04-25 18:25] IzzySoft commented on #123
That's correct. Github just creates a `.zip` and a `.tar.gz` of the source, no `.apk`. But once the tag is there, you can create a release, assign it to the tag while creating it, and at the same time attach additional files – in our case, the `.apk` you've built. Again, the `.zip` and `.tar.gz` are created automatically by Github *when a tag is created* – a release is, so to speak, building on to

[2016-04-25 20:12] #115 closed

[2016-04-25 20:44] brianjmurrell commented on #115
This is super cool!  I can't wait to be able to try it out on my middle-aged (but by no means over the hill :-)) tablet.

[2016-04-27 18:30] dmfrey commented on #113
@SingingDwarf I am seeing a socket timeout exception in there. Sounds like a failure maintaining a connection. Any luck lately?

[2016-04-27 18:41] dmfrey commented on #113
ReadTimeout is current set to 10 seconds.  Maybe we should bump this 30 or 40 seconds. Thoughts?

[2016-04-27 19:43] dmfrey commented on #120
@billmeek I forgot to add the updated message regarding HTTP Live Stream
Available and where it will play. I will add that tonight.

On Sat, Apr 23, 2016 at 1:15 PM billmeek <notifications@github.com> wrote:

[2016-04-27 22:58] SingingDwarf commented on #113
I'm still having no joy - on either of my two devices I'm afraid.

I note from the log that the call `http://[mythbackend]:6544/Dvr/GetRecordedList?Descending=true` is being made.

I've done some testing using the Page Load Time extension in Chrome - the call `http://[mythbackend]:6544/Dvr/GetRecordedList?StartIndex=0&Count=300&Descending=true` takes 6.2 seconds to load. When the count is 500 it t

[2016-04-27 23:49] dmfrey commented on #113
I am making it configurable in the settings. You will want to probably set
both the read and connect timeout. It will be in this forthcoming commit.
Would you like me to send you an apk to test with? Or are you able to build
from source?

On Wed, Apr 27, 2016 at 6:58 PM SingingDwarf <notifications@github.com>
wrote:

[2016-04-28 12:48] SingingDwarf commented on #113
Sorry, but I'll need an apk :-(

[2016-04-28 13:03] dmfrey commented on #113
Ok, i have to update the android tv code first before I can build this.
Then I will send you a debug apk to try out.

On Thu, Apr 28, 2016 at 8:48 AM SingingDwarf <notifications@github.com>
wrote:

[2016-04-29 00:20] #113 closed

[2016-04-29 02:15] dmfrey commented on #91
duplicate #113

[2016-04-29 02:15] #91 closed

[2016-04-29 02:29] #120 closed

[2016-04-29 02:29] #121 closed

[2016-04-29 03:01] dmfrey commented on #113
@SingingDwarf Email me and I will send you and APK to test. dmfrey at gmail

[2016-04-29 12:42] dmfrey opened #128 "Pressing Home/Up on RecordingDetails loads list of all episodes"
When on a Recording Details screen, and you press the Home/Up button (top left navigation button) you are taken to the entire list of episodes, not just the ones in that series.

[2016-04-29 12:44] dmfrey opened #129 "Convert SearchResultsModule to DynamicUseCase"

[2016-04-29 13:07] dmfrey opened #130 "Make Recording and Video Details use Material Design Bottom Sheets"
Material Design Bottom Sheet Desing Guidelines:
https://www.google.com/design/spec/components/bottom-sheets.html

A sample to look at:
http://gunhansancar.com/bottom-sheets-in-android/

[2016-04-29 18:55] billmeek opened #131 "Unexpected episodes displayed in titles that have multiple inetrefs"
The following Dvr/GetTitleInfoList responses lines are for 2 different subtitles
and inetrefs with a single title. Tested on release/2.0.3, but it isn't unique
to that branch.

[code]

In Watch Recordings, the above correctly display with the same title and
2 separate icons. The counts are also correctly displayed.

Pressing either icon, however, displays all 5 episodes. There should be
only 1 epi

[2016-04-29 18:59] billmeek commented on #122
Reopening to track release/mythtv-player-2.0.3 regression.

[2016-04-29 20:32] billmeek commented on #122
![overlap](https://cloud.githubusercontent.com/assets/1831699/14928736/5d52a8f6-0e1f-11e6-8115-20d824aee72d.jpg)

[2016-04-29 20:36] dmfrey commented on #122
This looks like a margin isn't being set correctly anymore. Maybe a
dimens.xml file got overwritten. I will take a look tonight.

On Fri, Apr 29, 2016 at 4:32 PM billmeek <notifications@github.com> wrote:

[2016-04-29 23:19] dmfrey commented on #131
The problem here is how the data gets loaded from TitleInfoList and RecordedProgramList. Currently, when a TitleInfo is clicked, it passes along the Title, not the Inetref. We couldn't use the Inetref because not every title has an Inetref. Consider something loaded from the Miro connector or, I believe, if you did a manual record schedule. I don't believe it will necessarily contain an Inetref.

[2016-04-30 00:31] dmfrey commented on #122
@billmeek I inadvertently removed the legacy attributes for older devices. Give this version a try.

[2016-04-30 01:18] billmeek commented on #122
Excellent! Please apply to Video and Recording detail screens
and this will be done.

[2016-04-30 01:36] brianjmurrell commented on #91
I'm sceptical that this is a duplicate of #113.  I will of course defer to your expertise here.

[2016-04-30 01:41] billmeek commented on #131
@dmfrey in this case, there are inetrefs for all episodes returned
by Dvr/GetTitleInfoList. Here's the Watch Recordings screen that
looks perfect, note the counts of 1 and 4:

![screenshot_2016-04-29-18-34-37](https://cloud.githubusercontent.com/assets/1831699/14933092/75ef5ef2-0e49-11e6-895f-ce4d01710bde.jpg)

and here's one of the screens underneath "Masterpiece Mysteries!",
that should have onl

[2016-04-30 14:30] dmfrey commented on #131
i guess maybe need to think about sending along the inetref, if it exists, and then filter the results based on not only the titleregex, but also the inetref.

I thought this was more of a data consistency issue on the backend, was it not?

[2016-04-30 16:45] billmeek commented on #131
Re: I thought this was more of a data consistency issue on the backend, was it not?

Yes, and in this specific case, when either of the shows are recording, there will be
a third blank banner with the same title because there's no inetref at that time.

[2016-05-01 02:11] #128 closed

[2016-05-01 02:36] #130 closed

[2016-05-02 13:06] dmfrey opened #135 "Fix Android Manifest for Android TV"

[2016-05-02 14:23] dmfrey opened #137 "Videos list needs visual refresh across tabs"

[2016-05-02 14:41] dmfrey commented on #107
UPDATE: This doesn't appear to be supported. No traction at all on stackoverflow issue:

https://stackoverflow.com/questions/36581914/edittextpreferences-selectallonfocus-not-honored

[2016-05-02 15:24] billmeek commented on #122
@dmfrey all screens look good now, thanks.

[2016-05-02 15:56] #122 closed

[2016-05-02 15:56] #135 closed

[2016-05-02 22:40] billmeek opened #139 "Upper left arrow doesn't work (develop branch)"
Go to Watch episode -> select a title -> press the arrow
in the upper left corner. The normal 'click' sounds, but
the screen doesn't change. Pressing back returns works
just fine.

Mostly here so I don't forget to test it.

[2016-05-03 01:10] dmfrey commented on #139
This is working on my phone. Try a clean, rebuild and redeploy?

On Mon, May 2, 2016 at 6:40 PM billmeek <notifications@github.com> wrote:

[2016-05-03 01:20] dmfrey opened #140 "Enable okHttp3 HTTP Caching"
Consider externalizing the client so that it can be plugged into Picasso and Retrofit to make more effective use of the HTTP cache.

[2016-05-03 01:34] billmeek commented on #139
No joy, but 6.0.1 it works OK for me too. 4.0.4 is where it's
not working. This is in LogCat each time the <- is pressed:
[code]

[2016-05-03 13:08] dmfrey opened #141 "Recent loading whole recording library"
Recent should always call the backend (no disk caching) and should only load 10 episodes.

[2016-05-03 18:56] dmfrey commented on #141
@SingingDwarf this is going to get you by one issue.

[2016-05-03 19:29] dmfrey commented on #139
@billmeek did this commit fix your issue?

[2016-05-03 19:48] #141 closed

[2016-05-03 20:05] billmeek commented on #139
Yes, the <- arrow works on branch bugfix/issue_139.

[2016-05-03 23:28] dmfrey commented on #139
awesome. I'm gonna merge this in

[2016-05-03 23:52] billmeek opened #144 "Update Watched Status doesn't work for episodes recorded after scheduled start time."
I believe that this:
[code]
is using the time the program is scheduled to start, rather than the time when the
recording actually started (and explains why it works most of the time.) This works:
[code]
@dmfrey, I know how to fix it, but do I create a new branch off of 2.0.3 or develop?
And should I create a 2.0.4 Milestone or just use 2.1.0?

[2016-05-04 00:06] #139 closed

[2016-05-04 00:10] dmfrey commented on #144
@billmeek do we need to push a release for this bug? If not, just leave it in 2.1.0. Create a bugfix/issue_144 branch, commit your changes there, then build a pull request. When the tests pass merge it into develop.

[2016-05-04 01:10] #144 closed

[2016-05-04 02:47] #140 closed

[2016-05-04 04:09] billmeek opened #147 "NPE, Attempt to invoke interface method"
Just left Watch Recordings and was back at Home/Encoders then
pressed Refresh when this fired:

* develop mythtv-player-2.0.2-29-gcf343c0
[code]

[2016-05-04 12:32] dmfrey commented on #147
I am not able to reproduce this issue. Do you have steps? Did this start after a recent change?

[2016-05-04 14:02] billmeek commented on #147
I can't reproduce it either. It's happened exactly once and it was
following a change. I was switching branches last night (probably
from issue_14[145] to develop.) Figured it was better to document it.

I can't recall any more steps to reproduce than in the original post.

[2016-05-04 14:44] dmfrey commented on #147
Let's watch it for now. Maybe something wasn't cleaned up between branch
switches.

On Wed, May 4, 2016 at 10:02 AM billmeek <notifications@github.com> wrote:

[2016-05-05 19:17] dmfrey commented on #129
@billmeek Can you play with this branch a bit?

I don't believe it is ever going to download the whole recorded programs list anymore after the last commits.  However, because of this change, I had to change a few other things.

1. When TitleInfos list is downloaded, it attempts to remove any entries no longer present from the search database
2. When each title is selected, it now only downloads j

[2016-05-05 19:48] billmeek commented on #129
@dmfrey sure, I'll test a bit later. I hadn't been suggesting sole use of TIL and
then GRPL because of the search feature. But I believe it's the correct way to
go.

If I read this correctly, on the very 1st use of the app, search will only be looking
at the titles, nothing else will be available.

[2016-05-05 19:53] dmfrey commented on #129
@billmeek Not exactly, the titleInfoList is never put in search results,
but only once you drill down to a list of episodes for a title will they
start to appear in search. On Android TV, you will always get the whole
list, there is no title list option. It is probably a little beefier, so I
don't think it will be a problem.

On Thu, May 5, 2016 at 3:48 PM billmeek <notifications@github.com> wrote

[2016-05-05 23:07] billmeek opened #148 "Print the branch name in logging (alone with the existing tag and commit)"
@dmfrey would you consider adding this to the app somewhere, such
that pressing on the version (for example) would bring up a list containing
the branch, tag and commit?

[2016-05-05 23:17] dmfrey commented on #148
we could just add an About item in the nav drawer that just pops a dialog.
If you want to provide me a layout of everything you want on it, I can add
it. The layout can just be a simple mock up in a text doc if you like.

On Thu, May 5, 2016 at 7:07 PM billmeek <notifications@github.com> wrote:

[2016-05-05 23:48] billmeek commented on #148
That would be great, Whatever is easiest. I was thinking along the lines of
an Easter Egg, not really documented, but available to testers/users who
build from source etc. Or maybe alone the lines of a more traditional Help->
About menu item.

Along the lines of this:
[code]
With the data coming from the existing: BuildConfig.APPLICATION_BRANCH,  BuildConfig.APPLICATION_TAG and BuildConfig.APPLICA

[2016-05-06 00:04] billmeek commented on #148
Sorry, BuildConfig.APPLICATION_BRANCH only exists in the
remotes/origin/quickfix/print_branch_in_log branch. I didn't do
a PR on it yet. Just saw your: feature/issue_148_about_dialog

[2016-05-06 00:44] billmeek opened #149 "Home->RECENT only displays recordings in the 'Default' Storage Group"
StorageGroup=Default is used when Dvr/GetRecordingList is sent
to populate the Home->RECENT screen.

Some users will report missing recordings if they have them in
other Storage Groups.

Tested on the current develop branch.

[2016-05-06 01:07] dmfrey commented on #149
The problem is, if I don't limit it, I also get LiveTV, so you will get
less than 10, or, depending on live tv activity, none at all.

On Thu, May 5, 2016 at 8:44 PM billmeek <notifications@github.com> wrote:

[2016-05-06 01:07] dmfrey commented on #149
I actively remove LiveTV recordings

On Thu, May 5, 2016 at 9:07 PM Daniel Frey <dmfrey@gmail.com> wrote:

[2016-05-06 02:05] dmfrey commented on #148
branch may not work in this case. We will always be building out of a release/xxxx. If you are ok with that, I will leave it in.

[2016-05-06 02:50] billmeek commented on #148
Branch works perfectly! Right now, I'm getting: feature/issue_148_about_dialog.

Tag is of interest too, but that's really just a double check. E.g. right now
the tag is mythtv-player-2.0.2 even though I know we're on 2.0.3. Actually,
I don't know why the tag is off. It's OK when I switch to branch master.

I'd prefer to see to see the commit too, but Branch is really the key for me
as I can tell

[2016-05-06 09:50] dmfrey commented on #148
Great, will merge this into develop.

On Thu, May 5, 2016, 10:50 PM billmeek <notifications@github.com> wrote:

[2016-05-06 13:14] dmfrey commented on #148
closes #148

[2016-05-06 13:14] #148 closed

[2016-05-06 18:47] billmeek opened #151 "Reinstate Copyrights via Android Studio"
@dmfrey DO NOT APPLY THIS YET. I need to force Android Studio to do a commit
that will apply the below (and I'll use your hardcoded name, not $username.)

Reference: https://www.jetbrains.com/help/idea/2016.1/copyright-profiles.html

Add text to Settings->Editor->Copyright->Copyright Profiles. Name it: Default
Enter the following text:
[code]
In the: 'Allow replacing copyright if old copyright con

[2016-05-07 00:57] #151 closed

[2016-05-07 01:04] billmeek commented on #151
@dmfrey, ok, you should be able to apply the steps in the
initial post here to make sure future files get created with
a copyright in them. That actually needs some testing.

[2016-05-07 02:29] dmfrey commented on #151
@billmeek Is the original issue up to date?  I see this line:

    In: Settings->Editor->Copyright, now change: 'No copyright' to 'Default'. Then
click on the + sign and select a scope of Project files.

But the previous was to name it 'Default'? Are these just reversed?

[2016-05-07 02:41] billmeek commented on #151
I don't think they're reversed.

@dmfrey, not sure what was in yours before. I had reloaded AS some time
ago and had lost all settings. In **Settings->Editor->Copyright->Copyright Profiles**
I had to build a new profile, then above that in **Settings->Editor->Copyright** I
was able to switch from No copyright to the newly created one that I called Default.

Side note, I did create a new file and t

[2016-05-07 18:05] billmeek opened #153 "Remove buildConfigFields"

[2016-05-07 18:53] #153 closed

[2016-05-11 12:24] dmfrey commented on #129
@billmeek Take a look at this branch. I refactored the ApiConnection a bit so the OkHttpClient can be autowired in. This allows me to initialize it a new class called NetModule. It is in the presentation package. This allows us to hook into a new Interceptor that was mentioned in the link I sent for changing the user-agent. It also has that Stetho library and another tool called LeakCanary (https:

[2016-05-11 16:09] billmeek commented on #129
Neat. Since I'm using prodDebug, the leaks should display.
Good news is nothing's displaying.

I tried searching and there may be an issue. Your earlier point:
[code]
seems to be the case. I found that some titles worked and other's didn't.
After I drilled down to a non-searchable title's episode screen, it started
working.

Thinking about the user that just reported an out of memory fault on the

[2016-05-11 16:20] dmfrey commented on #129
with this method, he would have to click every title group to populate all
the search results.  I am not aware of any search api that we could offload
this to the backend. Ideally, we would allow you to search everything,
anytime, but, because of the loading issues people are experiencing, i
think this is an acceptable tradeoff.  Videos will always load everything,
unless we try to page that from

[2016-05-12 00:15] dmfrey commented on #149
@billmeek what do you recommend we do in this situation?

[2016-05-12 00:22] billmeek commented on #149
If you're filtering out LiveTV as you mentioned earlier, then how
about dropping the StorageGroup parameter. The existing BE
code looks for the parameter and if it's there, then it makes
sure only that Storage Group is used.
[code]

[2016-05-12 00:56] billmeek opened #156 "Watch Videos: When the screen is entered, two Video/GetVideoList queries are sent"
The queries are .02 seconds apart per Wireshark. Note that inspector
doesn't always catch both. The duplicates also appear in LogCat.

Tested on the develop and feature/issue_129_dynamic_search
branches.

[2016-05-12 00:57] billmeek commented on #156
For this test case, the returns were 304s as my Video collection
is very static.

[2016-05-12 12:18] dmfrey commented on #129
@billmeek do you think that this is an acceptable tradeoff to support those with large libraries?

[2016-05-12 12:48] dmfrey commented on #156
@billmeek is there a difference in the querystring parameters being sent? This page utilizes a ViewPager, which will attempt to load the 2 adjacent pages, each of which needs to make a call. When you are on the first page, however, it will only load the current page and the one immediately to the right. Subsequent calls will pull from cache and the http response cache (HTTP 304).

[2016-05-12 12:51] billmeek commented on #129
@dmfrey, I agree. And to be specific, this would change the search
feature on the app to look at titles only for all recordings.

Do you think there should be a Video/GetTitleInfoList that returns
the title+intid+inetref added to the Services API?

[2016-05-12 13:07] dmfrey commented on #129
Videos are different, in that there is only one set of data. There aren't
multiple joined in tables, nor are there, technically, groups of videos
like a tv series. Well, I guess that is not necessarily true as you can
have a video series in videos.  Maybe Videos does warrant this, but I would
add in the Category (MOVIE, TV, ADULT, etc) as well as count (which would
mostly be 0, unless its a tv ser

[2016-05-12 13:08] billmeek commented on #156
The queries are identical. This from the issue_129_dynamic_search_branch:
[code]

[2016-05-12 13:10] billmeek commented on #129
I agree.

[2016-05-12 13:44] #129 closed

[2016-05-13 20:13] dmfrey commented on #156
after looking at the logs, i can see that both the movie list tab and tv list tab are both loading at the same time, so cache has not been filled yet, so both are making the call. Plus, it always seems to be going to masterbackend and not to local cache. Will have to look into that. I am more concerned about these messages I am seeing:

java.io.IOException: unexpected end of stream on okhttp3.Addr

[2016-05-13 20:41] dmfrey commented on #156
This is by design. I have set the default pages to keep in memory to 1, this includes the current page and 1 to either side. Since we start on the leftmost tab, it only attempts to load the one to right at the same time. Unfortunately, there isn't going to be anything we can do about this.  Also, since these are filtered by content type, once the data has loaded, it is required to load everything

[2016-05-13 20:41] #156 closed

[2016-05-13 21:02] billmeek commented on #156
Dan,

I believe I know why those happen. Looking at one right now. A previous
Dvr/GetTitleInfoList was sent and received a valid 304 response.

The backend then sends a TCP FIN response closing the conversation, but
the app doesn't respond with a FIN and apparently believes the conversation
to still be open. At the HTTP level, this makes sense because the Keep-Alive
header was present both in the

[2016-05-13 21:56] #149 closed

[2016-05-13 22:23] dmfrey commented on #156
Can I set a different value for keep-alive that would allow the
conversation to complete correctly? What is the backend expecting?

On Fri, May 13, 2016, 5:02 PM billmeek <notifications@github.com> wrote:

[2016-05-13 23:33] billmeek commented on #156
Just tried 1 second rather than 10 and get the same failure. I'll
try some more, but I should really open an new issue.

[2016-05-14 02:21] dmfrey commented on #147
Has this happened lately? I haven't seen it.

[2016-05-14 02:24] billmeek commented on #147
Haven't seen it since reporting it. Closing

[2016-05-14 02:44] billmeek commented on #131
Does #129's closing change this issue? During recording, it's still
likely that the inetref will be empty. And some titles will never have
inetrefs, if the user so chooses. What I'm suggesting is that the
inetref is like a subtitle of these types of programs.

For example (mm=Masterpiece Mystery)
[code]
inetrefs that are the same, but have the ttvdb.py_ prefix would be considered
different inetref

[2016-05-14 04:04] billmeek opened #159 "Recordings/Videos don't play, hostname and port are missing from query"
On current develop branch, when I press play, the screen changes
to VLC or the internal player and then right back to the details
screen. In LogCat, the following is shown:
[code]
Pressing refresh in the Home screen's 3 tabs all work OK. Happens
with either a hostname or IP address in settings. The TitleList and
VideoList both work OK.

[2016-05-14 04:33] billmeek commented on #159
Hmmm, added some Log() info, rebuilt and all's well. Leave open for
a bit.

[2016-05-14 04:50] billmeek commented on #159
Switched from 192.168.1.200 to 192.168.1.223. With the exception of
playing recordings and videos (as initially reported) the app's working.

Note in the following that when playing a recording, the previous IP
address is being used (.200, not .223)
[code]

[2016-05-15 13:33] dmfrey opened #160 "Enable DexInProcess"
DexInProcess enables faster builds

https://medium.com/google-developers/faster-android-studio-builds-with-dex-in-process-5988ed8aa37e#.a3pdhwr2v

Set Project gradle.properties to:

    org.gradle.jvmargs=-Xmx4096m -XX:MaxPermSize=512m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8

[2016-05-15 14:12] #160 closed

[2016-05-15 19:26] #159 closed

[2016-05-16 13:31] dmfrey opened #163 "Integrate Fastlane Supply"
Fastlane Supply is a command line tool for updating Android apps and their metadata on the Google Play Store

https://github.com/fastlane/fastlane/tree/master/supply

[2016-05-16 16:14] dmfrey commented on #163
@billmeek Can you take some new screenshots of the current app on your 7 and 10-inch tablets. Please make sure to appropriate blur any content: images and names. Take a look at what I did in the tvScreenshots directory. I don't want to get flagged again :-)

I will take care of the phone ones.

I figure this could become a regular part of a release/ branch so that we can update any Google Play Sto

[2016-05-16 20:56] billmeek commented on #163
@dmfrey, looks like the plan is to move the images/store_listing/screenshots
directory contents. And probably delete store_listings completely?

I've got a new set of 10" images in my tree, I'll get the 7" later and push them.
Looks like we need some new standard images names, like Home.jpg

[2016-05-16 21:36] dmfrey commented on #163
@billmeek, yes, those existing ones can go when this is all implemented.
Some standard names would be good as well. Pick some meaningful ones and I
will name accordingly.

On Mon, May 16, 2016, 4:56 PM billmeek <notifications@github.com> wrote:

[2016-05-19 01:50] billmeek commented on #163
@dmfrey, I kept everything in .jpg from my tablet, did you use
gimp to convert to .png? I'll push a new README.screenshots
with short names, e.g. like nd.jpg for Navigation Drawer just
'cause it's easy to rename them. let me know if that's OK.

[2016-05-19 02:21] dmfrey commented on #163
No, I used Android Studio to do the snapshots. It's the camera button on
the Android Monitor tab. It creates pngs.

On Wed, May 18, 2016, 9:50 PM billmeek <notifications@github.com> wrote:

[2016-05-19 15:42] billmeek commented on #163
@dmfrey, the monitor camera is much better, I've updated the README,
and picked the following names, but only kept the blured version because
I didn't want to risk the possibility of uploading a non blurred one. Assumes
that when using Gimp, the old file is overwritten.

Here's the new list:
[code]
It's meant to be in the order that screenshots will be taken and lower case
just 'cause I'm lazy. I

[2016-05-19 15:48] dmfrey commented on #163
@billmeek, this will work out great. I want to run through the Fastlane
Supply updating the images, data out there. I started a wiki page on
building a release. Take a look when you get a chance and fill in anything
I may be missing. The last section goes to the Fastlane Supply details. I
like that we can manage all of this right inside the codebase.

BTW, I used a Gaussian Blur set to 14.0 in GIM

[2016-05-19 17:31] dmfrey commented on #106
@billmeek @netwolfuk

In order for this to work successfully, we will need to configure the backend to produce CORS Headers. Also, it is helpful for the backend to produce Content-Type, Accept-Encoding and Range Headers. How do we best go about getting Port 6544 to produce these. Content-Type is already there, but the others are not.  We can add these in a .htaccess file, but this would need to be

[2016-05-19 19:30] billmeek commented on #147
Seems to still be happening. 6.0.1 tablet was idle for a while after doing
screenshot captures. Was on the Watch Videos screen, exited that. I
included the LogCat nearby. Note that the tablet was idle for just over an
hour prior to my picking it  up. git describe = mythtv-player-2.0.2-47-g2ec966c
which is really 2.0.3.

[code]

[2016-05-19 21:50] billmeek commented on #163
@dmfrey take a look at the blur in the 7 and 10 inch watch_recordings.png.
I used 14 for everything, but those 2 look pretty visible. Here's the 10" one:

![watch_recordings](https://cloud.githubusercontent.com/assets/1831699/15410845/a3bfdefe-1de1-11e6-8c1e-e8f2de74ff9d.png)

[2016-05-19 22:03] billmeek commented on #106
@dmfrey I'll look into Access-Control-Allow-Origin: header,
now that I did some reading about it. What value would it return? Assuming
that * is too open and that in many cases, no domain name will be available,
only an IP?

[2016-05-19 22:11] billmeek commented on #106
And then I caught up on my IRC reading...

[2016-05-20 01:08] dmfrey commented on #163
i guess we will just have to see if they flag it and then make that blur
blurrier if they do.

On Thu, May 19, 2016 at 6:22 PM billmeek <notifications@github.com> wrote:

[2016-05-20 01:09] dmfrey commented on #106
we will still need to add those headers. Just not sure what to set for the
Range header. Content-type is already there.

On Thu, May 19, 2016 at 6:43 PM billmeek <notifications@github.com> wrote:

[2016-05-20 01:27] dmfrey commented on #106
SUCCESS!!! This works from the app, but only with an MP4 file, no extra headers required. Now the for the other streaming formats, we will need the other headers to get them to work.

[2016-05-21 15:20] dmfrey commented on #163
@billmeek check out the google play listing with new screenshots. Fastlane Supply works good, so far. Looking forward to trying this out with the next beta release. Take a look at the wiki and let me know if you see anything I might be missing for building a release.  I had to remove some of the screenshots as the play store listing only allows for 8 screenshots per device size. Also, I moved your

[2016-05-21 17:14] #163 closed

[2016-05-22 15:53] dmfrey commented on #147
@billmeek this might be a simple fix, but it seems like maybe there is a timing issue going on here after a period of idle. I am attempting to capture nulls so that these items don't reload if they have not yet woken back up from the idle state

[2016-05-23 04:15] billmeek commented on #163
@dmfrey I move the page under Development just to match like
pages. The move works, but I had to delete the page, as the
git mv didn't take. I have an extra copy of your work outside of
git on my host, just in case. I'll take read-through later.

[2016-05-23 15:39] dmfrey opened #165 "Consider using Firebase Analytics and Crash Reporting"
Google has announced the free availability of a suite of Firebase applications available to mobile applications across Android, iOS and Web. Two such products in this suite are Analytics and Crash Reporting. They are designed to complement one another. All triggered events are available on a console for easy cataloging and triaging.

https://firebase.google.com/docs/analytics/?utm_campaign=Firebas

[2016-05-23 15:56] dmfrey commented on #163
that is perfect. That was my intention as well, just forgot to move it.

On Mon, May 23, 2016 at 12:15 AM billmeek <notifications@github.com> wrote:

[2016-05-23 16:13] dmfrey opened #166 "add link to g+ community to in google play store listing"

[2016-05-23 17:40] dmfrey opened #167 "Implement Commercial Skipping"
The DVR Services API now offers commercial skip breakpoints. These should be able to be implemented to as a part of the internal player to skip commercials on playback.

[2016-05-23 17:43] dmfrey opened #168 "Update Bookmark on playback stop/pause"
The DVR Services API now supports retrieving and setting bookmarks. This could be used during playback to update the bookmark on the backend and on the programs details to indicate the existence of a bookmark. Should also consider a control to clear the bookmark.

[2016-05-23 18:32] #166 closed

[2016-05-24 13:04] dmfrey commented on #165
I created a Poll on the G+ Community. For the most part, people are ok with having this. One person wants the option to be able to disable it and 1 person so far has indicated they don't want this.

[2016-05-24 20:13] IzzySoft commented on #123
Ooops – there it is, thanks a lot!

[2016-06-03 18:53] dmfrey opened #170 "Revaluate Latest ExoPlayer for internal playback"
Could also eliminate the need for an external playback option as the mpeg-ts format is now supported

[2016-06-06 00:34] dmfrey commented on #147
@billmeek has this happened since the fix was put int?

[2016-06-06 13:20] dmfrey opened #171 "Update readme to fix releases"
reported by @dekarl

[2016-06-06 14:06] #171 closed

[2016-06-07 22:35] billmeek commented on #147
@dmfrey, it hasn't, but I've had all 3 tablets on feature/issue_106_implement_google_cast
lately. If that has the fix too, it sounds good.

[2016-06-07 22:59] dmfrey commented on #147
OK I will do a PR and sync then all up.

On Tue, Jun 7, 2016, 6:35 PM billmeek <notifications@github.com> wrote:

[2016-06-08 01:22] #147 closed

[2016-06-08 08:53] dekarl commented on #165
https://medium.com/@gabri.mariotti/the-new-firebase-crash-reporting-fa411c6cf05b#.ekrowpjoi
It appears as if this depends on Google Play Services being available on the device, which may not be the case, e.g. for FireOS / Blackberry devices.

For FireOS there are crash reports available, too.
https://developer.amazon.com/public/community/post/TxDJW5O4CEBN9L/Crash-Reports-Now-Available

I'm not sur

[2016-06-08 13:38] dmfrey commented on #165
This will be disabled by default and opt-in from the user preferences. It
is my understanding that firebase sits outside of Google Play services. It
can be used across android, ios and the web.

On Wed, Jun 8, 2016 at 4:53 AM Karl Dietz <notifications@github.com> wrote:

[2016-06-08 16:22] dmfrey opened #177 "Shorten Short Description for German Translation"

[2016-06-08 17:38] dekarl opened #178 "Implement backend discovery via SSDP"
It would be very nice to automagically configure the backend connection in local network environments iff the backend URL contains the default value and only one backend is found via SSDP.
E.g. search for deviceType urn:schemas-mythtv-org:device:MasterMediaServer:1, then use the URL base for the backend connection (see http://www.upnp-database.info/device.jsp?deviceId=812 for an example)

[2016-06-08 18:26] #177 closed

[2016-06-08 18:28] dmfrey opened #180 "Merge app and tv subprojects"
Utilize the new build system: build variants, to handle differences

https://sites.google.com/a/android.com/tools/tech-docs/new-build-system/user-guide#TOC-Build-Variants

[2016-06-12 13:13] #180 closed

[2016-06-12 18:09] dmfrey opened #184 "AndroidTV Search Crash"
Crash when rendering search result list on AndroidTV

                  --------- beginning of crash
                  E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: org.mythtv.android, PID: 2624
                  android.view.InflateException: Binary XML file line #21: Binary XML file line #21: You must supply a layout_width attribute.
                      at android.view.Lay

[2016-06-14 00:03] #184 closed

[2016-06-17 13:06] dmfrey opened #186 "Amazon FireTV does not support Google Voice Search"
Reported by @dekarl

I tried with the APK from github releases with the following result
when trying to search in the recordings screen.
Looks like com.google.android.voicesearch is missing from FireOS...
(according to
http://stackoverflow.com/questions/9479846/no-activity-found-to-handle-intent-act-android-speech-action-recognize-speech
)
But even that app is not available in my country, yet.
Loo

[2016-06-17 13:42] dmfrey opened #187 "Externalize Articles to strings.xml"
Build an array of articles that can be internationalized and loaded according to the devices locale settings.

From discussion on IRC with @dekarl

[2016-06-25 10:53] dekarl opened #188 "TV Recordings Fragment shows Banner as Background"
Lets use the background "fanart" (instead of "banner") for recordings, like its done for videos.

https://github.com/MythTV-Clients/MythtvPlayerForAndroid/blob/develop/app/src/main/java/org/mythtv/android/view/fragment/tv/RecordingsFragment.java#L490

     mBackgroundURI = URI.create( getSharedPreferencesModule().getMasterBackendUrl() + "/Content/GetRecordingArtwork?Inetref=" + programModel.getIne

[2016-06-30 15:11] dekarl commented on #186
A small addition, https://play.google.com/store/apps/details?id=com.google.android.voicesearch just states "This content is not available in your country yet.", so its not just FireTV.

[2016-07-01 15:14] #188 closed

[2016-07-08 15:53] dmfrey commented on #187
closes #187

[2016-07-08 15:53] #187 closed

[2016-07-09 00:56] #117 closed

[2016-07-14 20:05] dmfrey opened #193 "Unify Program and VideoMetadataInfo into MediaItem for presentation"
The two objects, Program and VideoMetadataInfo, contain very similar data, however, they are structured very differently. Creating a MediaItem class that combines each items similar attributes for use in the presentation layer would ease maintenance across the android app and android tv interface, as well as promote greater reuse of the code across the various media types.  It can also be the basi

[2016-07-15 17:14] #165 closed

[2016-07-17 14:57] dmfrey commented on #106
closes #106

[2016-07-18 21:53] dmfrey commented on #186
@dekarl this should fix it. I'm away on business, so I can't test it myself at this time. If you can pull it and try it out, let me know.

[2016-07-19 05:53] dharmeshappzlogic commented on #94
i am using android studio of 2.1.2 version and i have turned instant run off, but not get any success yet. Still facing the same issue.

[2016-07-19 21:13] billmeek commented on #94
In Android Studio, have you tried the Build->Clean Project? From the
phone/tablet, Settings->Applications manually  stop, clear data and
remove the app.

If that doesn't help, please comment on your Android version and
if the failure, from LogCat, is the same as the initial one here.

[2016-07-23 15:09] dmfrey opened #197 "External Player broken after implementing Google Cast"
Submitted from G+

[2016-07-24 22:21] #197 closed

[2016-08-22 00:08] dmfrey commented on #110
I believe this has become more about moving to Java8 features. OpenJDK should just work, or Oracle JDK as well.

[2016-08-22 00:15] #110 closed

[2016-10-05 20:30] trainerbill commented on #106
@dmfrey can you explain how to get this functionality?  I am not seeing a chrome cast button on the mythplayer app.

[2016-10-05 20:36] dmfrey commented on #106
Here are a couple of things to check.

1. On the correct wifi network?
2. Are you running the latest beta?

When you are connected to the network, the Google Cast button should *just
appear* in the Action Bar. You then have to HLS transcode some recordings
and/or videos. Unfortunately, Google Cast doesn't MPEG2-TS, so you either
need an MP4 or HLS transcoding of the recording. Most video formats s

[2016-10-05 20:55] trainerbill commented on #106
@dmfrey Thanks for the quick reply!

I am on 2.1.1, assuming i have to download the apk of the latest and install?  Chromecast not supporting MPEG2 is a real bummer.

1.  How do the videos look using HLS?
2.  Can/does the app automatically start the HLS transcode when you start playing?  Or do you have to go to the mythbackend to start the HLS transcode?

[2016-10-05 21:04] dmfrey commented on #106
Go to the G+ page and follow the instructions to join the beta.

The videos look fine so long as they are in a format Chromecast supports.
There is a page on the cast developer page that lists this. There are some
that just won't work as is.

Mpeg2 just doesn't have hardware coding support.

On Wed, Oct 5, 2016, 4:55 PM Andrew Throener <notifications@github.com>
wrote:

[2016-10-05 21:57] trainerbill commented on #106
@dmfrey I have the beta and see the cast button now.  I create an HLS stream and cast and it looks like it is going to load and then just displays the MythPlayer blue screen on the TV.  I see the HLS stream on the Mythbackend and I can play the recording on my phone in the Mythplayer app, but casting doesn't work.  Let me know if you want me to submit a new issue and any other info you need.

[2016-10-22 15:21] dmfrey commented on #106
@trainerbill Did you get by this?

Here is one thing to try. Google Cast can be debugged through Chrome.  Follow these instructions. https://developers.google.com/cast/docs/debugging

Let me know if you are still unable to access it and any relevant error reported in chrome.

[2016-10-24 10:42] #193 closed

[2016-10-24 14:12] trainerbill commented on #106
No, I have not been able to get this working.

[2016-10-27 01:33] dmfrey commented on #106
@trainerbill if i had to guess, It sounds like the cast receiver app (which runs on the chromecast itself), is can't communicate with your backend. I am running a HLS stream from my hotel room in indianapolis from my backend at my house in Pennsylvania.

[2016-10-30 13:37] dmfrey opened #203 "Add filter to show only recordings and programs that have HLS"
Requested from G+

[2016-10-30 23:25] dmfrey commented on #137
Videos now resemble recordings as a result of #193

[2016-10-30 23:25] #137 closed

[2016-10-30 23:27] dmfrey commented on #106
@trainerbill can you play your HLS streams by going to http://you_backend_ip:6544, then navigate to API -> Examples -> HTTP Live Streaming? If not, there is an issue with producing viable streams on your backend.

[2016-10-31 11:38] dmfrey commented on #131
@billmeek can you check that this is still an issue in the latest `develop` branch

[2016-10-31 12:04] #168 closed

[2016-11-08 16:14] trainerbill commented on #106
thx @dmfrey.  It may have been my networking setup.  However, I ended up going with bubbleupnp.  It also allows me to connect and transcode from my HDHomeruns for live tv.

[2016-11-08 17:40] dmfrey commented on #106
closes #106

On Tue, Nov 8, 2016, 11:23 AM Andrew Throener <notifications@github.com>
wrote:

[2016-11-12 03:03] #106 closed

[2016-11-12 03:31] dmfrey commented on #186
@dekarl have you been able to verify this with the current develop branch?

[2016-11-17 01:52] dmfrey commented on #170
It looks like ExoPlayer would be doable, but there are some caveats.

- Would need to acquire a MPEG-2 codec
- Seeking is not possible in as the codec handles this inefficiently
- Battery will drain faster as there isn't support for hardware decoding on Android

Some Android TV will be able to support this rather well. The ticket might be repurposed to only use it for Android TV.  Some further exp

[2016-12-04 19:12] dmfrey commented on #170
Implementing a mpeg2 decoder is not possible at this time.  It is not technically impossible, it is more an issue of time.  I am currently satisfied with allowing a third-party like VLC to handle this.

The biggest drawback to implementing this natively is there would be no Hardware Acceleration for playback. This would result in horrendous battery performance on phones.  More likely, this could b

[2016-12-04 19:12] #170 closed

[2016-12-05 03:23] dmfrey opened #205 "Project cleanup"

[2016-12-08 04:06] #205 closed

[2016-12-10 03:19] dmfrey opened #208 "Clean up lint issues"

[2017-01-17 16:54] dmfrey opened #210 "Prepare for release 3.0.0"

[2017-01-17 16:59] dmfrey commented on #131
@billmeek can you check that this is still an issue in the latest develop branch

[2017-01-17 17:00] dmfrey commented on #68
@billmeek can you check that this is still an issue in the latest develop branch

[2017-01-17 18:42] #210 closed

[2017-01-17 18:42] #208 closed

[2017-01-18 00:48] billmeek opened #212 "Fatal Exception: java.lang.RuntimeException: Unable to start activity"
Running on updated develop branch @ f15eaa1

[code]

[2017-01-18 00:50] billmeek commented on #68
@dmfrey ref #212 for now.

[2017-01-18 00:51] billmeek commented on #131
@dmfrey ref #212 for now.

[2017-01-18 01:01] billmeek commented on #212
Adding: this is a fresh install, no chance to enter IP/host.

Nexus 7, Android 6.0.1

[2017-01-18 02:36] dmfrey opened #213 "Fix Firebase configuration"

[2017-01-18 04:03] dmfrey commented on #212
I am not sure what's going on here. I created a Nexus 7 emulator with Marshmellow on it and it works fine. Is the tablet updated with the latest google play services?

[2017-01-18 04:21] billmeek commented on #212
Google play services is at 10.0.84

[2017-01-18 15:55] dmfrey opened #214 "Update Screenshots for version 3.0.0"

[2017-01-18 16:31] #214 closed

[2017-01-18 16:50] dmfrey opened #216 "NullPointerException - MediaItemDetailsActivity.onButtonFabPlay"
Exception java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String org.mythtv.android.presentation.model.MediaItemModel.getUrl()' on a null object reference
    org.mythtv.android.presentation.view.activity.phone.MediaItemDetailsActivity.onButtonFabPlay ()
    org.mythtv.android.presentation.view.activity.phone.MediaItemDetailsActivity_ViewBinding$1.doClick ()
        but